_*
legacy*
temp*
test*
q_*
w_*
x_*
*.7z
*.db
*.exe
*.ini
*.log
*.mp4
*.old
*.pem
*.zip
db*.*

.*/
bkup/
cache/
db/
LogsDir/
LogsRaw/
nginx/
parsed/
static/enchant/
static/icons/
static/item/
static/gear/
top/
uploads/
venv/
