*.exe
*.txt
*.log
*.7z
*.zip
*.ini
test*
legacy*

trash/
__pycache__/
LogsDir/
LogsRaw/
spells_json/
unusual_spells/
uploads/
achi_dump/
cache_names/
kill_db*/
kill_db*/
kill_json*/
tmp_cache*/
bkup/

