main {
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

#top-player-info {
	display: grid;
  position: sticky;
  top: var(--nav-height);
  width: 100%;
	font-size: 250%;
	text-align: center;
  background-color: var(--background);
	align-items: baseline;
  justify-items: center;
  z-index: 5;
}
@media (orientation: landscape) {
  #top-player-info {
    grid-auto-flow: column;
  }
}
#player-search-label {
  opacity: .5;
  max-width: fit-content;
}
#player-search:checked + #player-search-label,
#player-search:hover + #player-search-label {
  opacity: 1;
}
#player-search:checked ~ .search-input {
  display: block;
}
#player-search:checked ~ .static-info {
  display: none;
}
.search-input {
  display: none;
}
.player-name {
  width: 11em;
  max-width: 11em;
}
#player-name[href]:hover {
  text-shadow:
    0 0 3rem currentColor,
    0 0 1rem currentColor;
}
.player-server {
  width: 7em;
}
#player-overall {
  min-width: max-content;
}
#player-overall-points {
  display: inline-block;
  min-width: 3.2em;
  text-align: right;
}
#player-overall-rank {
  display: inline-block;
  font-size: 33%;
  min-width: 4em;
  text-align: left;
}
#spec-wrap {
  min-width: max-content;
}
#spec-wrap label {
  padding: 0;
}
#spec-wrap img {
  opacity: .2;
  max-width: 1em;
  min-width: 1em;
  max-height: 1em;
  min-height: 1em;
}
#spec-wrap input:checked + label > img {
  opacity: 1;
}

#points-body tr:nth-child(11) td {
  border-top: .1em solid var(--primary-color);
}
.table-wrap {
	--min-width: 6em;
	--max-width: 21em;
}
.cell-dps {
  min-width: 4em;
}
.cell-rank,
.cell-points {
  min-width: 3.2em;
}
.cell-dur {
  min-width: 2.6em;
}
.cell-date {
  min-width: 4.1em;
}
.cell-raids {
  min-width: 1.75em;
}

#tooltip-points {
  position: fixed;
  width: fit-content;
  background-color: var(--background);
  padding: .5em;
  border-radius: 6px;
  box-shadow:
    inset 0 0 .25rem .1rem var(--primary-color),
          0 0  .5rem .1rem var(--primary-color);
  z-index: 5;
}
#tooltip-points td {
  text-align: right;
  padding-inline: .25em;
}
#tooltip-points tr.no-decimal td.value {
  padding-right: 1.05em;
}
#tooltip-points tr td:first-child {
  width: 5.5rem;
  min-width: 5.5rem;
}
.td-max,
.td-player {
  width: 3.5rem;
  min-width: 3.5rem;
}
.td-points {
  min-width: 2rem;
}

#wraprwprperweproe {
  --icon-size: 4rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.table-wrap-wrap {
  position: relative;
  width: 100%;
}
#points-body td:not(.player-cell) {
  text-align: right;
  padding-inline: .25em; 
}
#player-points-wrap {
  position: relative;
  font-size: 200%;
}
.hide-other-bosses tr:nth-child(n+11) {
  display: none;
}

#points-wrap-inner {
  --width: 24vw;
  --max-w: calc(100vw - 25rem - 25em);  
	padding-left: clamp(var(--min-width), var(--width), var(--max-w));
}
.table-wrap :is(.spell-name, .player-cell) {
	width: clamp(var(--min-width), var(--width), var(--max-w));
}

#toggle-more-bosses-wrap {
  display: flex;
  justify-content: center;
  margin-top: .5em;
}
#toggle-more-bosses {
  font-size: 150%;
}
@media (orientation: landscape) {
  #wraprwprperweproe {
    flex-direction: row;
  }
  #player-points-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 29rem);
  }
  #loading-points,
  #missing-points {
    max-width: calc(100% - 29rem);
  }
}

#rank-info {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .25em;
  box-shadow:
    inset 0 0 .25rem .1rem var(--primary-color),
          0 0  .5rem .1rem var(--primary-color);
}
#rank-info:hover #rank-info-tt {
  display: block;
}
#rank-info-tt {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 60vw;
  background-color: var(--background);
  z-index: 5;
  padding: .5em;
  box-shadow:
    inset 0 0 .25rem .1rem var(--primary-color),
          0 0  .5rem .1rem var(--primary-color);
}


.heriloom {color: #ACBD80;}
.legendary {color: #FF8011;}
.epic {color: #A32AB9;}
.rare {color: #0560DD;}
.uncommon {color: #1EFF0B;}
.heroic {color: #1EFF00;}
.hidden {visibility: hidden;}
.enchant {color: #18FF06;}
.missing {color: red;}
.loading {color: gray;}
.color-set-name {color: #DBB402;}

.blank-line {
  visibility: hidden;
}

#loading-gear,
#loading-points,
#missing-gear,
#missing-points {
  font-size: 200%;
}
#loading-gear,
#missing-gear {
  --width: calc(var(--icon-size) * 7);
  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);
}
#missing-gear,
#missing-points {
  color: crimson;
}
#gear-wrap {
  display: grid;
  height: fit-content;
  width: fit-content;
  grid-template-areas: 
  "gear-left gear-info gear-right"
  ". weapons .";
}
@media (orientation: portrait) {
  #gear-wrap {
    place-self: center;
  }
}
#gear-wrap thead tr:last-child td {
  border-bottom: 1em var(--primary-color);
}
#gear-wrap thead tr:last-child {
  border-bottom: 1em var(--primary-color);
}
#gear-wrap td:first-child {
  text-align: right;
  width: 3em;
  min-width: 3em;
}
#gear-wrap td:last-child {
  padding-left: .25em;
  white-space: nowrap;
}

#gear-info {
  height: 100%;
  font-size: 150%;
}
#gear-right {
  grid-area: gear-right;
}
#gear-left {
  grid-area: gear-left;
}
#gear-info {
  position: relative;
  width: calc(var(--icon-size) * 5);
  grid-area: gear-info;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
#table-stats-wrap {
  max-height: 13.5em;
  overflow-y: auto;
  overflow-x: clip;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--background);
}
#table-stats {
  width: 100%;
}
#gear-left,
#gear-right {
  display: grid;
}
#weapons {
  grid-area: weapons;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}
#gear-wrap img {
  position: relative;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  max-width: var(--icon-size);
  max-height: var(--icon-size);
}
.slot {
  position: relative;
}
.slot::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow:
    inset  .1em  .1em .5em var(--background),
    inset -.1em -.1em .5em var(--background);
}
.slot > span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 125%;
  text-shadow:
    -.1em -.1em .1em var(--background),
     .1em -.1em .1em var(--background),
    -.1em  .1em .1em var(--background),
     .1em  .1em .1em var(--background);
  z-index: 1;
}

.item-name {
  font-size: 120%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#set-wrap {
  font-size: 125%;
  margin-top: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: end;
}

#tooltip-stats {
  max-width: 19rem;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background);
  padding: .5em;
  border-radius: 6px;
  box-shadow:
    inset 0 0 .25rem .1rem var(--primary-color),
          0 0  .5rem .1rem var(--primary-color);
}
#tooltip-stats span {
  display: inline-block;
  min-width: 2.5em;
  text-align: right;
  padding-right: .25em;
}
