img {
  display: inline-block;
  vertical-align: text-bottom;
  max-height: 1.1em;
  max-width: 1.1em;
  min-height: 1.1em;
  min-width: 1.1em;
}

.rectangle-cell {
  width: 12rem;
}
.points,
.rectangle-cell,
th {
  border-left: 10px solid var(--table-border);
}

.points {
  min-width: 3rem;
  width: 3rem;
  text-align: right;
}
.top100 {color: #e5cc80;}
.top99 {color: #e268a8;}
.top95 {color: #ff8000;}
.top75 {color: #a335ee;}
.top50 {color: #0070ff;}
.top25 {color: #1eff00;}
.top0 {color: #666666;}

.damage {
  display: none;
}
.swap {
  position: absolute;
  right: 0;
  padding-inline: .2em;
  font-weight: 600;
}
.sortable {
  position: relative;
}

.percent-bar {
  width: var(--width);
  height: 1em;
  border-radius: 0.1em;
}
.useful .percent-bar,
.damage .percent-bar,
.taken .percent-bar {
  background-color: hsl(0, 100%, 30%);
  box-shadow: .1em .1em 1em darkred;
}
.heal .percent-bar,
.heal_total .percent-bar {
  background-color: hsl(120, 100%, 25%);
  box-shadow: .1em .1em 1em forestgreen;
}

#toggle-graph:checked + label ~ section {
  display: block;
}
#toggle-graph:checked + label + section {
  display: inline-flex;
}
#chart-wrap-wrap {
  font-size: 1.5rem;
}
#chart-wrap-wrap section {
  display: none;
}
#controls-wrap {
  gap: 2rem;
  align-items: center;
}
.range-values {
  min-width: 14rem;
}
#chart-wrap {
  height: 10rem;
  width: 100%;
}
#chart {
  margin-right: 1rem;
}