:root {
  --nav-height: 3rem;
  --background: black;
  --primary-color: hsl(271, 76%, 53%);
  --secondary-color: hsl(271, 100%, 40%);
  --third-color: hsl(271, 60%, 50%);
  --link-color: hsl(271, 40%, 86%);
  --link-hover: hsl(271, 100%, 70%);
  --link-text-shadow: burlywood;
  --link-text-shadow-hover: hsl(0, 100%, 40%);
  --unfocused: hsl(271, 100%, 20%);
  --hover: hsl(271, 100%, 35%);
  --highlight-color: rgb(24, 24, 24);
  /* --highlight-alternate-color: rgb(128, 128, 128); */
  --slider-background: #4F00A9;
  --table-border: rgb(32, 32, 32);
  --bottom-row-one: 3rem;
  --bottom-row-two: 7.5vh;
  --bottom-row-one: 3ch;
  --bottom-row-two: 6ch;
}

* {
  color: gainsboro;
  font-family: Ubuntu;
  font-size: 1.6vh;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 30em) and (orientation: landscape) {
  * {
    font-size: 2vh;
  }
}

/* Hide scrollbar */
html {
  background-color: var(--background);
  overflow: none;
  -ms-overflow-style: none; /*IE Edge*/
  scrollbar-width: none;  /*Firefox*/
}
html::-webkit-scrollbar {
  display: none; /*Chrome Safari Opera*/
}

/* class colors */
.death-knight {color:crimson}
.mage {color:lightskyblue}
.shaman {color:hsl(221, 100%, 50%)}
.rogue {color:gold}
.hunter {color:yellowgreen}
.paladin {color:violet}
.priest {color:whitesmoke}
.warrior {color:sienna}
.druid {color:darkorange}
.warlock {color:slateblue}
/* spell colors */
.holy {color:goldenrod}
.fire {color:orangered}
.nature {color:hsl(120, 100%, 35%)}
.frost {color:skyblue}
.shadow {color:darkslateblue}
.arcane {color:mediumpurple}
.froststrike {color:lightgray}
.frostfire {color:indianred}
.shadowstrike {color:rebeccapurple}
.shadowstorm {color:teal}
.shadowfrost {color:slateblue}
.divine {color:violet}
.spellshadow {color:purple}
.firestorm {color:hsl(85, 100%, 40%)}
.shadowlight {color:hsl(40, 75%, 30%)}
.chaos {color:hsl(263, 100%, 30%)}
.holyfire {color:hsl(50, 100%, 80%)}
.froststorm {color:hsl(200, 100%, 85%)}
.spellfire {color:hsl(345, 100%, 50%)}
.stormstrike {color:hsl(120, 100%, 20%)}
.flamestrike {color:hsl(345, 100%, 30%)}

.holystorm,
.holyfrost,
.shadowflame,
.spellstrike,
.spellstorm,
.spellfrost,
.elemental,
.chromatic,
.magic {
  color:hsla(0, 0%, 50%, 0.5);
}

a:not([class]) {
  color: var(--link-color);
  text-shadow: .1em .1em .5em var(--link-text-shadow);
}
a:not([class]):hover {
  color: var(--link-hover);
  text-shadow: 0 0 1.5em var(--link-text-shadow), .1em .1em .5em var(--link-text-shadow-hover);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* SELECTION */
:is(div, label, #home-button)::-moz-selection {
  background: none;
  color:currentColor;
}
:is(div, label, #home-button)::-webkit-selection {
  background: none;
  color:currentColor;
}
:is(div, label, #home-button)::selection {
  background: none;
  color:currentColor;
}

/* HOME PAGE */
#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-page h1 {
  font-size: 300%;
  color: var(--primary-color);
  text-shadow: .1em .1em .5em var(--link-text-shadow-hover);
}
#home-page h2 {
  font-size: 200%;
}
#home-page h2 span {
  font-size: 40%;
  bottom: 1em;
  position: relative;
}


/* NO PAGE */
#no-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#no-page > img {
  width: clamp(112px, 95vw, 60vh);
  height: clamp(112px, 95vw, 60vh);
}
#no-page p {
  margin: 1rem;
}

#home-button {
  /* position: fixed; */
  /* margin-right: 50%;
  margin-left: 50%; */
  text-align: center;
  font-size: 250%;
  color:var(--third-color);
  /* border: currentColor .08em solid; */
  padding: 0 1em;
  /* margin: 0 1em; */
  /* border-radius: 0.3em; */
  text-shadow: 0 0 2em silver, 0 0 1em currentColor;
  /* box-shadow: inset 0 0 .5em currentColor, 0 0 .5em currentColor; */
  animation-name: homebutton;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes homebutton {
  0%,
  100% {color: var(--third-color);}
  50%  {color: var(--primary-color);}
}
#home-button:hover {
  /* box-shadow: inset 0 0 .65em currentColor, 0 0 1em currentColor; */
  text-shadow: 0 0 2em silver, 0 0 .5em currentColor;
}


nav,
footer {
  z-index: 20;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--background);
}
nav {
  display: grid;
  top: 0;
  /* height: 4rem; */
  height: var(--nav-height);
  /* height: var(--nav-height); */
  box-shadow: inset 0 -.5rem .5rem -.5rem var(--primary-color), 0 .75rem 1.5rem -.5rem var(--primary-color);
  /* box-shadow: inset 0 -.5rem .5rem -.5rem var(--primary-color), 0 .75rem 1.5rem -.5rem var(--primary-color), 0 2vh var(--background); */
}

#top-nav {
  display: none;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  box-shadow: inset 0 -.5rem .5rem -.5rem var(--primary-color), 0 .75rem 1.5rem -.5rem var(--primary-color);
}
#top-nav {
  top: var(--nav-height);
}
#top-nav > a {
  text-align: center;
  width: 100%;
}
#top-chkbox {
  font-size: 250%;
  right: 0;
  bottom: 0;
  padding: 0 1ch;
  position: absolute;
}
#open-top:checked ~ #top-nav {
  display: grid;
}


#top-nav > a {
  font-size: 250%;
  /* text-shadow: 0 0 .1em dimgray; */
}
@media (min-width: 30em) and (orientation: landscape) {
  nav,
  #top-nav {
    display: inline-block;
  }
  #top-chkbox {
    display: none;
  }
  #top-nav {
    top: unset;
    background-color: unset;
    box-shadow: unset;
  }
  #top-nav > a {
    margin-left: 2vw;
  }
}


footer {
  padding-top: .2em;
  padding-bottom: .1em;
  height: var(--bottom-row-one);
  bottom: 0;
  box-shadow: inset 0 .5rem 1rem -.5rem var(--primary-color), 0 -.75rem 1.5rem -.5rem var(--primary-color);
}

footer,
#bot-nav {
  padding: 0;
  background-color: var(--background);
}
#bot-nav {
  display: none;
  grid-auto-flow: row;
  width: 100%;
  position: absolute;
  bottom: var(--bottom-row-one);
  box-shadow: inset 0 .5rem .5rem -.5rem var(--primary-color), 0 -.75rem 1.5rem -.5rem var(--primary-color)
}

#bot-nav > a {
  font-size: 150%;
}
#report-slice a {
  display: inline-flex;
  font-size: 125%;
  max-width: 85vw;
}
#report-slice a:hover span {
  color: var(--link-hover);
}
#report-slice a span {
  font-size: inherit;
  text-align: left;
  padding-right: .25em;
}
#slice-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#slice-dur,
#slice-tries {
  min-width: max-content;
}

#bot-chkbox {
  font-size: 150%;
  right: 0;
  top: 0;
  padding: 0 1ch;
  position: absolute;
}
#open-bot:checked ~ #bot-nav {
  display: grid;
}

@media (min-width: 30em) and (orientation: landscape) {
  footer {
    display: flex;
  }
  footer > ul {
    row-gap: 1rem;
  }
  #bot-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2em;
    position: unset;
  }
  footer #report-slice a {
    font-size: 150%;
    /* grid-auto-columns: min-content; */
  }
  footer ul {
    padding-left: 1em;
  }
  #bot-chkbox {
    display: none;
  }
  #slice-name {
    overflow: unset;
  }
}

/* FILTERED SPELLS */
#spells-search {
  font-size: 150%;
  padding-left: .2em;
  padding-right: .2em;
  width: 14ch;
}
#filtered-spells-container {
  position: absolute;
  right: 0;
  bottom: 0;
}
#filtered-spells-container > div {
  display: none;  
  position: absolute;
  width: max-content;
  bottom: 100%;
  right: 0;
  z-index: 1;
  background-color: var(--background);
  box-shadow: inset 0 0 .5em var(--primary-color);
  border-radius: .5em;

}
#filtered-spells-container:focus-within > div {
  display: table;
}
#filtered-spells > a {
  display: table-row;
}
#filtered-spells > a:hover span {
  color: var(--link-hover);
  text-shadow: .1em .1em .5em var(--link-text-shadow-hover);
}
#filtered-spells > a > span {
  display: table-cell;
  font-size: inherit;
  padding-right: 1ch;
  text-align: left;
}
#filtered-spells > a > span:first-child {
  min-width: 6ch;
  text-align: right;
}


/* BOSS SEGMENTS */

#fights-container .wipe-link {color: crimson;}
#fights-container .kill-link {color: aquamarine;}

#fights-container {
  z-index: 2;
  position: fixed;
  left: 0;
  top: var(--nav-height);
  padding-top: .25rem;
}
#fights-container::after {
  content: '';
  display: none;
  position: relative;
  width: 100%;
  height: 5em;
  background-color: rgba(0, 0, 0, 0);
}
#fights-container:hover::after,
#fights-container:hover > ul,
#fights-container li:hover > ul {
  display: block;
}

#fights-container > h1 {
  z-index: 2;
  font-size: 150%;
  padding-right: .5em;
  border: .1em solid var(--primary-color);
  border-radius: .3em;
  background-color: var(--background);
}
#fights-container > h1::before {
  content: '▼';
  padding-inline: 2ch;
}
#fights-container > h1 > a {
  display: inline-block;
  max-width: 75vw;
  font-size: inherit;
  white-space: nowrap;
  overflow: clip;
}


#fights-container > ul,
#fights-container .segments {
  border: .2em solid var(--primary-color);
}
#fights-container .segments {
  z-index: 5;
  position: absolute;
  left: 75%;
  top: 0;
}
@media (min-width: 30em) and (orientation: landscape) {
  #fights-container .segments {
    left: 100%;
  }
}

#fights-container ul a {
  font-size: 2vh;
  padding-right: 2ch;
}
#fights-container ul {
  display: none;
  padding: 0;
  min-width: max-content;
  background-color: black;
}
#fights-container li {
  position: relative;
}
#fights-container a:hover {
  color: var(--link-hover);
}
#fights-container li:hover {
  text-shadow: .1em .1em .5em var(--link-text-shadow-hover);
  background-color: var(--highlight-color); 
}

#fights-container > ul > li::before {
  content: '▼';
  margin-right: 2ch;
  margin-left: 2ch;
  font-size: 2vh;
}
#fights-container .diffs > li::before {
  content: '▶';
  margin-right: 2ch;
  margin-left: 3ch;
  font-size: 2vh;
}


#player-info {
  display: flex;
  align-items: baseline;
}
#warmane-armory-link {
  margin-left: 3ch;
}


main {
  margin-top: calc(var(--nav-height) + 2.5rem);
  margin-bottom: calc(var(--nav-height) + 1rem);
  position: relative;
}

#report-main-tables {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
@media (min-width: 30em) and (orientation: landscape) {
  #report-main-tables {
    grid-auto-flow: column;
  }
  #report-main-tables > section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}


caption {
  text-transform: uppercase;
  font-weight: 600;
}
table, th, td {
  border-spacing: 0;
  padding: 0;
}
th, td {
  border: 1px solid var(--table-border);
}

th {
  font-weight: 600;
  background-color: var(--highlight-color);
  cursor: pointer;
}
tbody > tr:nth-child(odd) > td {
  background-color: hsl(0, 0%, 5%);
}
tbody > tr:hover > td {
  background-color: hsl(285, 100%, 5%);
}
td {
  min-width: 4ch;
  background-color: var(--background);
  background-clip: padding-box;
}
td > a {
  text-shadow: 0 0 3rem currentColor;
}
td > a:hover {
  text-shadow: 0 0 3rem currentColor, 0 0 .3em currentColor;
}



/* TABLE CELLS */
#dmg-taken td {
  min-width: 12ch;
}
.avgs td {
  min-width: 7ch;
}

.add-player-rank > tbody:not(.table-has-total) tr,
.add-player-rank > tbody.table-has-total tr:nth-child(n+2) {
  counter-increment: rowNumber;
}
.add-player-rank td.player-cell::before {
  content: counter(rowNumber);
  display: inline-block;
  min-width: 2.5ch;
  text-align: right;
}
.add-player-rank .table-has-total tr:first-child .player-cell::before {
  content: '';
}

.boss-cell {
  min-width: 20ch;
}
.total-cell {
  width: 12ch;
  min-width: 12ch;
  text-align: right;
}
.rectangle-cell {
  min-width: 6rem;
}
.source-name {
  min-width: 15ch;
}
.count {
  min-width: 6.1ch;
}
.per-sec-cell {
  width: 9ch;
  min-width: 9ch;
  text-align: right;
}

.uppestoftime {
  width: 78vw;
}
.buffs {
  display: inline;
  width: 25ch;
}
.buff-count {
  width: 6ch;
  text-align: right;
}
.percentage-cell {
  width: 6ch;
  text-align: right;
}


/* td > img {
  min-height: 1.1em;
  max-height: 1.1em;
  min-width: 1.1em;
  vertical-align: middle;
} */

/* INPUTS */

input[type="text"] {
  background: none;
  color: dimgray;
  border: none;
  border-bottom: 3px solid currentColor;
  outline: none;
}
input[type="text"]:focus {
  color: var(--primary-color);
}
input[type="submit"] {
  color: black;
}

label,
select {
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  padding-bottom: 0;
  border: none;
  background-color: unset;
  color: var(--secondary-color);
  border-bottom: .2rem solid currentColor;
}

select * {
  background-color: var(--background);
}

input:not(:checked) + label {
  color: var(--unfocused);
  border-bottom: .2rem solid currentColor;
}

input:not(:checked) + label:hover {
  color: var(--hover);
}

label:hover {
  text-shadow: 0 0 .5em currentColor;
}
label:hover,
select:hover {
  box-shadow: inset 0 0 .6em currentColor, 0 .1em 1em currentColor;
}

button,
.swap-button {
  cursor: pointer;
  min-width: 7ch;
  font-size: 3ch;
  background: var(--background);
  border: .1rem solid var(--primary-color);
  border-radius: .2rem;
}
button:hover,
.swap-button:hover {
  color: var(--primary-color);
  box-shadow: inset 0 0 .4em currentColor, 0 .1em .7em currentColor;
  text-shadow: .1em .1em .4em var(--link-text-shadow-hover);
}

/* input:checked + label {
  border-bottom: .2rem solid var(--primary-color);
  color: var(--secondary-color);
  color: var(--primary-color);
}  */

.panel,
input[type="radio"],
input[type="checkbox"],
.target-table td > div {
  display: none;
}

input:checked + label + div {
  display: block;
  position: fixed;
  left: 0;
}



.target-checkbox-label {
  display: inline-block;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;
  font-size: 3vmin;
  margin-left: 1em;
  color: dimgray;
  border-bottom: .15em solid;
  border-radius: .3em;
}

.panel > input:checked + label {
  color: hsl(var(--hue-rect), 100%, 25%);
  text-shadow: 0 0 .5em currentColor;
  box-shadow: inset 0 0 .6em currentColor, 0 .1em 1em currentColor;
}

.panel,
.target-table {
  margin-top: 2rem;
  left: 0;
}

.target-uptime {
  position: absolute;
  padding: .15em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.target-table td:last-child {
  width: 80vw;
  position: relative;
}

.rectangle {  
  background-color: hsl(var(--hue-rect), 100%, 25%);
  height: 1em;
  float: left;
}


.wrap-player,
.wrap-damage {
  --min-width: 17ch;
  --max-width: 20ch;
}
.wrap-spell {
  --min-width: 15ch;
  --max-width: 32ch;
  padding-bottom: 7rem;
}
.table-wrap {
  --mult: 5;
  overflow-x: auto;
}
.table-wrap > div {
  padding-left: calc(clamp(var(--min-width), 20vw, var(--max-width)));
}
.casts-section-wrap {
  width: calc(var(--mult) * 50rem);
}
.table-wrap :is(.spell-name, .player-cell) {
  width: clamp(var(--min-width), 20vw, var(--max-width));
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 2;
}
/* @media (min-width: 1600px) {
  .table-wrap {
    margin: unset;
    max-width: unset;
  }
  .table-wrap :is(.spell-name, .player-cell) {
    position: unset;
  }
} */

/* DAMAGE */

#dmg-done {
  padding-bottom: 17vh;
}

#dmg-done button {
  /* margin: 0; */
  padding: 0 1rem;
  background: var(--background);
  border: .2rem solid var(--primary-color);
  border-radius: .2rem;
  box-shadow: inset 0 0 .4rem var(--primary-color), 0 .1rem 1rem var(--primary-color);
}
#dmg-done button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1rem var(--secondary-color), 0 0 1rem var(--secondary-color);
}

#dmg-done-selection {
  position: fixed;
  bottom: var(--bottom-row-two);
  background-color: var(--background);
  width: 100%;
  z-index: 10;
  padding-bottom: 1rem;
}
#dmg-done-selection select {
  margin-left: 1rem;
  min-width: 22ch;
}
#dmg-done-selection button,
#dmg-done-selection select {
	font-size: clamp(1vw, 3rem, 5.5vw);
}
#dmg-done-main > table > tbody > tr > td:hover {
  background-color: hsl(285, 100%, 15%);
}
#dmg-done .count {
  position: relative;
}
/* #dmg-done th:nth-child(n+2),
#dmg-done td:nth-child(2),
#dmg-done td:nth-child(4),
#dmg-done td:nth-child(6),
#dmg-done td:nth-child(8),
#dmg-done td:nth-child(11),
#dmg-done td:nth-child(13) {
  border-left: 3px solid dimgray;
} */
#dmg-done-main > table > tfoot > tr > td {
  border-top: 3px solid dimgray;
}
#dmg-done td:nth-child(n+2) {
  text-align: right;
}

td:hover > table {
  display: table;
}
.avgs {
  display: none;
  position: absolute;
  top: 100%;
  left: 95%;
  z-index: 2;
  box-shadow: 0 0 .2rem .2rem hsl(285, 100%, 20%);
}
.avgs tr:nth-child(1) > td {
  background-color: hsl(140, 100%, 10%);
}
.avgs tr:nth-child(2) > td {
  background-color: hsl(140, 100%, 10%);
}
.avgs tr:nth-child(3) > td {
  background-color: hsl(100, 100%, 10%);
}
.avgs tr:nth-child(4) > td {
  background-color: hsl(60, 100%, 10%);
}
.avgs tr:nth-child(5) > td {
  background-color: hsl(20, 100%, 10%);
}
.avgs tr:nth-child(6) > td {
  background-color: hsl(20, 100%, 10%);
}


#swap-buffs {
  font-size: clamp(1vw, 3rem, 5vw);
  text-align: center;
  position: fixed;
  right:0;
  bottom: 5vh;
  /* margin: 0; */
  padding: 0 1rem;
  background: var(--background);
  border: .2rem solid var(--primary-color);
  border-radius: .2rem;
  box-shadow: inset 0 0 .4rem var(--primary-color), 0 .1rem 1rem var(--primary-color);
}
#dmg-done button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1rem var(--secondary-color), 0 0 1rem var(--secondary-color);
}


#class-filter {
  position: fixed;
  bottom: var(--bottom-row-one);
  padding: .5em;
}
#class-filter:hover > div {
  display: block;
}
#class-filter > h2 {
  font-size: 150%;
  padding: .1em;
  padding-left: 1ch;
  border: .1em solid var(--primary-color);
  border-radius: .3em;
  background-color: var(--background)
}
#class-filter > div {
  display: none;
  width: max-content;
  position: absolute;
  bottom: 100%;
  left:0;
  z-index: 1;
  background-color: var(--background);
  box-shadow: inset 0 0 .5em var(--primary-color);
  border-radius: .5em;
}


#aura-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#aura-controls button {
  min-width: unset;
  font-size: 80%;
}

#player .spell-name {
  position: relative;
}

#player label {
  z-index: 5;
}

.rectangle.gray {
  background-color: rgb(112, 128, 144);
}


/* span.value.lower {
  position: absolute;
  left: 0;
}
span.value.upper {
  position: absolute;
  right: 0;
} */
/* span.value.lower::before {content: "€"; display: inline-block;} */
/* span.value.upper::before {content: "- €"; display: inline-block; margin-left: 0.4em;} */
/* .min-max-slider > .legend {display: flex; justify-content: space-between;} */
/* .min-max-slider > .legend > * {font-size: small; opacity: 0.25;} */
/* .min-max-slider input {cursor: pointer; position: absolute;} */



/* #slice-logs {
  height: 2em;
} */
.min-max-slider {
  height: 5em;
  width: 40ch;
}
.min-max-slider > .min-max-slider-values {
  /* display: inline; */
  padding-left: 1.5em;
  display: inline-block;
  padding-top: 2em;
  text-align: center;
}

.min-max-slider-values span {
  font-size: 150%;
}

.min-max-slider-inputs {
  padding-top: 1em;
}


.min-max-slider-half {
  height: 10px;
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  position: absolute;
  background: transparent;

}
.min-max-slider-half:focus {
  outline: none;
}

/* WebKit/Blink */
.min-max-slider-half::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none; /* Override default look */
  border: 2px solid var(--background);
  height: 2em;
  width: .5em;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px var(--background), 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
/*  */
}
.min-max-slider-half::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--background);
  background: var(--slider-background);
  border-radius: 0px;
  border: 0px solid var(--background);
}
.min-max-slider-half:focus::-webkit-slider-runnable-track {
  background: var(--slider-background);
}

/* Firefox */
.min-max-slider-half::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--background), 0px 0px 1px var(--highlight-color);
  border: 2px solid var(--background);
  height: 2em;
  width: .5em;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.min-max-slider-half::-moz-range-track {
  width: 100%;
  height: .5em;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--background);
  background: var(--slider-background);
  /* border-radius: 0px; */
  border: 0px solid var(--background);
}

/* IE */
.min-max-slider-half::-ms-thumb {
  box-shadow: 1px 1px 1px var(--background), 0px 0px 1px var(--highlight-color);
  border: 2px solid var(--background);
  height: 30px;
  width: 8px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  /*  */
  margin-top: 1px;
}
.min-max-slider-half::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.min-max-slider-half::-ms-fill-lower {
  background: var(--slider-background);
  border: 0px solid var(--background);
  border-radius: 0px;
  box-shadow: 1px 1px 2px var(--background);
}
.min-max-slider-half::-ms-fill-upper {
  background: var(--slider-background);
  border: 0px solid var(--background);
  border-radius: 0px;
  box-shadow: 1px 1px 2px var(--background);
}
.min-max-slider-half:focus::-ms-fill-lower {
  background: var(--slider-background);
}
.min-max-slider-half:focus::-ms-fill-upper {
  background: var(--slider-background);
}


#player-nav-wrap {
  position: fixed;
  left: 0;
  bottom: var(--bottom-row-one);
  background: var(--background);
  width: 100%;
  z-index: 10;
}
#player-nav {
  display: flex;
}
#player-nav li {
  text-align: center;
  margin: 0;
  padding-block: .25rem;
  padding-inline: .33rem;
}
#player-nav a {
  font-size: 150%;
}

@media (min-width: 30em) and (orientation: landscape) {
  #player-nav li {
    padding-inline: 1rem;
  }
}