:root {
  --highlight-color: rgb(24, 24, 24);
  --footer-height: 3vh;
  --primary-color: blueviolet;
  --secondary-color: darkviolet;
  --third-color: darkorchid;
  --link-text-shadow: burlywood;
  --link-text-shadow-hover: brown;
  --background: black;
  --unfocused: hsl(271, 100%, 20%);
  --hover: hsl(271, 100%, 35%);
  --main-white: gainsboro;
}

* {
  color: var(--main-white);
  font-family: Ubuntu;
  font-size: 1.5vh;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 1100px) {
  * {
    font-size: 2vh;
  }
}

/* Hide scrollbar */
html {
  background-color: var(--background);
  overflow: none;
  -ms-overflow-style: none; /*IE Edge*/
  scrollbar-width: none;  /*Firefox*/
}
html::-webkit-scrollbar {
  display: none; /*Chrome Safari Opera*/
}


.death-knight {color: crimson;}
.mage {color:lightskyblue;}
.shaman {color:rgb(0, 80, 255);}
.rogue {color:gold;}
.hunter {color:yellowgreen;}
.paladin {color:violet;}
.priest {color:whitesmoke;}
.warrior {color:sienna;}
.druid {color:darkorange;}
.warlock {color:slateblue;}


footer {
  /* -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--background);
  bottom: 0;
  height: var(--footer-height);
  box-shadow: inset 0 .5rem 1rem -.5rem var(--primary-color), 0 -.75rem 1.5rem -.5rem var(--primary-color);
  /* box-shadow: inset 0 -.5rem .5rem -.5rem var(--primary-color), 0 .75rem 1.5rem -.5rem var(--primary-color), 0 2vh var(--background); */
}


table, th, td {
  border-spacing: 0;
}
th, td {
  border: 1px solid dimgray;
}
@media (min-width: 1100px) {
  table, th, td {
    border-collapse: collapse;
  }
}
th {
  font-weight: 700;
  background-color: var(--highlight-color);
}
tbody > tr:nth-child(odd) > td {
  background-color: hsl(0, 0%, 5%);
}
tbody > tr:hover > td {
  background-color: hsl(285, 100%, 5%);
}
td {
  min-width: 3ch;
  background-color: var(--background);
  background-clip: padding-box;
}
td > a {
  text-shadow: 0 0 3rem currentColor;
}
td > a:hover {
  text-shadow: 0 0 3rem currentColor, 0 0 .3em currentColor;
}


/* LABELS */

label,
select {
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  padding-bottom: 0;
  border: none;
  background-color: unset;
  color: var(--secondary-color);
  border-bottom: .2rem solid var(--primary-color);
}

select * {
  background-color: var(--background);
}

input:not(:checked) + label {
  color: var(--unfocused);
  border-bottom: .2rem solid currentColor;
}

input:not(:checked) + label:hover {
  color: var(--hover);
}

label:hover {
  text-shadow: 0 0 .5em currentColor;
}
label:hover,
select:hover {
  box-shadow: inset 0 0 .6em currentColor, 0 .1em 1em currentColor;
}

input[type=checkbox] {
  display: none;
}

#ladder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#server-select {grid-area: serv;}
#instance-select {grid-area: inst;}
#boss-select {grid-area: boss;}
#size-select {grid-area: size;}
#combine-label {grid-area: comb;}
#difficulty-label {grid-area: diff;}
#class-select {grid-area: clss;}
#spec-select {grid-area: spec;}

#spec-select,
#class-select {
  min-width: 13ch;
}
#instance-select,
#boss-select {
  min-width: 25ch;
}

#controls {
  width: 100%;
  position: sticky;
  top: 0;
  max-width: 100ch;
  display: grid;
  grid-template-areas:
  'serv serv serv serv serv serv'
  'inst inst inst inst inst inst'
  'boss boss boss boss boss boss'
  'comb comb size size diff diff'
  'clss clss clss spec spec spec';
  gap: .5rem;
  background-color: var(--background);
  z-index: 5;
  padding-bottom: 1em;
}
#controls > * {
  font-size: clamp(10pt, 3vh, 7vw);
  text-align: center;
}

@media (min-width: 1100px) {
  #controls {
    grid-template-areas:
    'inst inst boss boss boss boss size diff diff'
    'serv serv clss clss spec spec spec comb comb';
  }
  #main-table-body td {
    padding-inline: 2px;
  }
}

#table-container {
  padding-bottom: 4vh;
}

#main-table * {
  border: 0;
}
#main-table th {
  position: sticky;
  top: 15em;
  z-index: 40;
}

@media (min-width: 1100px) {
  #main-table th {
    top: 5em;
  }
}

#main-table th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: .2em solid var(--primary-color);
}

#main-table-body td {
  padding: 0;
  text-align: center;
}


#main-table > thead th.sortable {
  cursor: pointer;
}

#main-table > tbody tr {
  counter-increment: rowNumber;
}
#main-table > tbody tr td.table-n::before {
  display: inline-block;
  content: counter(rowNumber);
  min-width: 2ch;
  width: 5ch;
  text-align: center;
  color: var(--main-white);
}


#main-table > tbody img {
  min-height: 1em;
  min-width: 1em;
  max-width: 1em;
  vertical-align: middle;
  margin-bottom: 1px;
}

#main-table > tbody .table-n {
  width: 21ch;
  min-width: max-content;
  text-align: left;
}

#main-table > tbody :is(.table-ud, .table-td) {
  min-width: 7.5ch;
  width: 9ch;
  text-align: right;
}

#main-table > tbody :is(.table-ua, .table-ta) {
  min-width: 9.5ch;
  width: 10ch;
  text-align: right;
}

#main-table > tbody tr td.table-r {
  min-width: 9ch;
  width: 14ch;
}

#main-table > tbody tr td.table-t {
  min-width: 6ch;
}


.table-ext, 
.table-self,
.table-rekt {
  position: relative;
}
td:hover > ul {
  display: block;
  list-style-type: none;
  padding: 0;
}
td > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 95%;
  z-index: 2;
  background-color: black;
  box-shadow: 0 0 .2rem .2rem hsl(285, 100%, 20%);
}

li {
  display: table-row;
}

li span {
  display: table-cell;
  padding-inline: 1ch;
  min-width: max-content;
}
#head-useful,
.table-u {
  display: none;
}

@media (min-width: 1100px) {
  #head-useful,
  .table-u {
    display: table-cell;
    font-size: 2vh;
  }
}

#loading-info-panel {
  background-color: var(--background);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 100%;
}

#link-home::before {
  content: "<<";
}