<!DOCTYPE html>
<html style="background-color: black;">
<head>
  <title>UwU Logs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/ubuntu.css">
  <style>
  :root {
    color: gainsboro;
    font-size: 1.6vh;
    background: black;
  }
  @media (orientation: landscape) {
    :root {
      font-size: 2vh;
    }
  }
  body {
    font-family: Ubuntu;
  }
  #error-page {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #error-page > img {
    width: clamp(112px, 95vw, 40vh);
    height: clamp(112px, 95vw, 40vh);
  }
  #error-page p {
    margin: 1rem;
  }
  </style>
</head>
<body>
  <nav>
    <a id="home-button" href="/">UwU LOGS</a>
  </nav>
  <main id="error-page">
    <img id="error-page-img" src="/static/bedge.png">
    <p>Server is restarting or under maintenance</p>
    <p>try again later</p>
  </main>
  <script>
    const img = document.getElementById("error-page-img");
    setTimeout(() => img.src = "/static/wokge.png", 3000)
    setTimeout(() => img.src = "/static/wokayge.png", 6000)
    setTimeout(() => img.src = "/static/wokeg.png", 10000)
  </script>
</body>
</html>
