{% extends "layout_report.html" %}

{% block add_style %}
<style>
#auras-table th {
  min-height: 3rem;
}
#auras-table th img {
  min-height: 2em;
  max-height: 2em;
  min-width: 2em;
}
#auras-table td:not(.player-cell):nth-child(odd) {
  min-width: 4rem;
}
#auras-table td:not(.player-cell):nth-child(even) {
  min-width: 2rem;
}
#auras-table td:not(.player-cell) {
  text-align: right;
}

#auras-table td:not(.player-cell, :empty):nth-child(odd)::after {
  content: "%";
}
</style>
{% endblock add_style %}


{% block the_main %}
<main id="auras">
  <section id="panel-{{ power_name }}" class="table-wrap wrap-damage">
    <div>
      <table id="auras-table">
        <thead>
          <tr>
            <th class="player-cell">-</th>
            {% for spell_id, spell_info in AURA_INFO.items() %}
            <th title="{{ spell_info['name'] }}" colspan="2"><img src="/static/icons/{{ spell_info['icon'] }}.jpg" alt="{{ spell_id }}"></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody id="auras-table-body">
          {% for player_name, aura_data in AURA_UPTIME.items() %}
          <tr>
            <td class="player-cell">
              <a class="{{ PLAYER_CLASSES[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
            </td>
            {% for spell_id in AURA_INFO %}
            <td>{{ AURA_COUNT.get(player_name, {}).get(spell_id, '') }}</td>
            <td>{{ AURA_UPTIME.get(player_name, {}).get(spell_id, '') }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
const aurasTableBody = document.getElementById("auras-table-body");
const getCellValue = (tr, idx) => tr.children[idx].innerText;
const comparer = idx => (a, b) => getCellValue(b, idx) - getCellValue(a, idx);

document.querySelectorAll('th').forEach(th => th.addEventListener('click', () => {
  Array.from(aurasTableBody.querySelectorAll('tr'))
        .sort(comparer(th.cellIndex*2))
        .forEach(tr => aurasTableBody.appendChild(tr));
}));
</script>
{% endblock the_scripts %}