{% extends "layout_report.html" %}

{% block scripts_head %}
<script src="/static/casts.js" async defer></script>
{% endblock scripts_head %}

{% block add_style %}
<style>
#graph-controls {
  background: var(--background);
  display: flex;
  gap: .25rem;
}
@media (orientation: portrait) {
  #graph-controls {
    position: fixed;
    left: 0;
    transform: translateY(-100%);
  }
}
#spell-toggle-hidden + label {
  padding: 0;
}

#flag-filter-wrap > div {
  min-width: 7em;
}
@media (orientation: landscape) {
  #flag-filter-wrap > div {
    padding-inline: 2em;
  }
}
#flag-filter-wrap > #flag-filter {
  visibility: hidden;
  position: absolute;
  bottom: 90%;
  padding: .1rem;
  width: max-content;
  background-color: var(--background);
  box-shadow: inset 0 0 .5em var(--primary-color);
  border-radius: .5em;
}
#flag-filter > li {
  text-align: left;
}
#flag-filter-wrap:hover > #flag-filter {
  visibility: visible;
}
.flag-color-picker {
  width: 2em;
  border: none;
}
.flag-checkbox:checked + label {
  color: var(--secondary-color);
}

#spell-timeline-mult {
  width: 100%;
}
#spell-timeline-mult-label {
  min-width: 4ch;
}

.table-wrap {
  padding-bottom: 5rem;
}
.casts-section {
  padding-top: 5rem;
}


#casts-section-wrap {
  --row-height: 1.25rem;
  --row-height-border: calc(var(--row-height) + 2px);
  --event-width-mult: 1;
  --tenth-width: calc(var(--mult) * 1px);
  --event-width: calc(var(--event-width-mult) * var(--tenth-width));
  width: calc(var(--mult) * var(--duration) * 10px + 2px);
  overflow-y: clip;
}
.spell-row {
  --row-targets: 1;
  display: block;
  height: calc(var(--row-targets) * var(--row-height-border));
}
spell-name div,
spell-name-data,
.spell-history {
  border: 1px solid var(--table-border);
  height: var(--row-height-border);
}

spell-name,
spell-history-wrap {
	background-color: black;
}
.casts-section .spell-row:nth-of-type(even) > spell-name,
.casts-section .spell-row:nth-of-type(even) > spell-history-wrap {
  background-color: hsl(0, 0%, 3%);
}
spell-history-wrap > * {
  background-color: inherit;
}

spell-name-data {
  display: flex;
}
spell-name-data::before {
  content: attr(data-count);
  text-align: right;
  min-width: 4ch;
}
spell-name-data img {
  min-width: var(--row-height);
  max-width: var(--row-height);
  min-height: var(--row-height);
  max-height: var(--row-height);
  padding-inline: .25em;
}
spell-name-data a {
  overflow: hidden;
}
spell-name div::before {
  display: inline-block;
  content: attr(data-uptime);
  text-align: right;
  min-width: 6ch;
  padding-right: 1ch;
}

.spell-history {
  position: relative;
  width: 100%;
}
spell-cleu {
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--event-width);
  background-color: currentColor;
  box-shadow: -1px 0 gainsboro;
}
.copy {
  display: none;
}
.openned .copy {
  display: block;
}

#the-tooltip {
  position: absolute;
  width: fit-content;
  background-color: var(--background);
  text-align: center;
  padding: .5em;
  border-radius: 6px;
  box-shadow: inset 0 0 .25rem .1rem var(--primary-color), 0 0 .5rem .1rem var(--primary-color);
  z-index: 5;
}

.negative::before {
  content: '-';
}
#timeline-ruler {
  padding-top: 1rem;
  background-color: black;
  margin-left: 1px;
}
.timeline-ruler-tick {
	position: relative;
	display: inline-block;
  box-shadow: -1px 1px currentColor;
	width: var(--tenth-width);
}
.timeline-ruler-second {
	height: 1rem;
}
.timeline-ruler-half-second {
	height: .6rem;
  font-size: 75%;
}
.timeline-ruler-tenth-second {
	height: .25rem;
  font-size: 50%;
}
.timeline-ruler-number {
  font-size: inherit;
	position: absolute;
  bottom: 100%;
  transform: translate(-50%, 0);
}
#spells-fav-reminder {
  font-size: 200%;
  max-width: 75vw;
}
#spells-fav-reminder:not(:only-child) {
  display: none;
}

#aura-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#aura-controls button {
  min-width: unset;
  font-size: 75%;
  padding: 0 .5em;
}
#spell-toggle-hidden + label {
  min-width: 11ch;
}


.char-0 {
  --custom-bg-color: hsl(0, 0%, 0%);
}
.char-1 {
  --custom-bg-color: hsl(271, 100%, 5%);
}
.char-2 {
  --custom-bg-color: hsl(0, 100%, 5%);
}
#spells-fav > spell-row > spell-name,
#spells-fav > spell-row > spell-history-wrap {
  background-color: var(--custom-bg-color);
}
.char-tab {
  background-color: var(--custom-bg-color);
}


#tabs-wrap {
  display: flex;
  padding-bottom: 1rem;
  row-gap: 1rem;
  flex-flow: column;
}
.char-tab {
  display: block;
  font-size: 300%;
  border: 2px solid var(--primary-color);
}
.char-tab a {
  color: var(--link-color);
  text-shadow: .1em .1em .5em var(--link-text-shadow);
}
.char-tab a:hover {
  color: var(--link-hover);
  text-shadow: .1em .1em .4em var(--link-text-shadow-hover);
}
.char-tab > div {
	display: flex;
	justify-content: space-between;
  font-size: 40%;
  align-items: end;
  row-gap: 1rem;
}
.button-close {
  width: 3ch;
}
.char-report-id {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
  max-width: 67%;
}
@media (orientation: landscape) {
  #tabs-wrap {
	  justify-content: space-between;
    flex-flow: row wrap;
  }
  .char-tab {
    min-width: 30%;
  }
}
#add-character {
  font-size: 350%;
}
dialog {
  background-color: var(--background);
  border: none;
  box-shadow: inset 0 0 .5em var(--primary-color);
  border-radius: .5em;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}
dialog select {
  font-size: 200%;
}


#boss-reminder {
  font-size: 500%;
}


#spells-fav #button-unhide,
#spells-fav #button-fav,
spells-main #button-unhide,
spells-hide #button-hide {
  display: none;
}

#fight-start {
  position: absolute;
  height: 250rem;
  width: 1px;
  background-color: gainsboro;
  z-index: 1;
}

#before-pull {
  font-size: 150%;
  background-color: var(--background);
}
</style>
{% endblock add_style %}

{% block the_main %}
<main>
<section id="player-nav-wrap">
  <ul id="player-nav">
    <li><a href="/reports/{{ REPORT_ID }}/player/{{ SOURCE_NAME }}/{{ QUERY }}">DAMAGE</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/heal/{{ SOURCE_NAME }}/{{ QUERY }}">HEAL</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/taken/{{ SOURCE_NAME }}/{{ QUERY }}">TAKEN</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/healed/{{ SOURCE_NAME }}/{{ QUERY }}">HEALED</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/casts/{{ SOURCE_NAME }}/{{ QUERY }}">TIMELINE</a></li>
    <li id="graph-controls">
      <section id="flag-filter-wrap">
        <div>≡ FLAG FILTER</div>
        <ul id="flag-filter">
          {% for flag in FLAG_ORDER %}
          <li id="{{ flag }}" style="display: none;">
            <input type="color" class="flag-color-picker">
            <input id="{{ flag }}_CHECKBOX" type="checkbox" class="flag-checkbox" checked>
            <label class="tab" for="{{ flag }}_CHECKBOX">{{ flag }}</label>
          </li>
          {% endfor %}
        </ul>
      </section>
      <span>ZOOM:</span>
      <input id="spell-timeline-mult" type="range" min="1" max="100" value="3">
      <span id="spell-timeline-mult-label">3x</span>
      <input id="spell-toggle-hidden" type="checkbox">
      <label for="spell-toggle-hidden">Show hidden</label>
    </li>
  </ul>
</section>
<section id="boss-reminder" style="display: none;">Select boss to see casts.</section>
<section id="tabs-wrap" style="display: none;">
  <button id="add-character">+</button>
</section>
<section class="table-wrap wrap-spell" style="display: none;">
  <div id="casts-section-wrap">
    <div id="fight-start"></div>
    <div class="spell-name">
      <select id="before-pull">
        <option value="0">Before pull</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="120">120</option>
        <option value="180">180</option>
      </select>
    </div>
    <div id="timeline-ruler"></div>
    <div id="spells-fav">
      <aside id="spells-fav-reminder">
        <p>
          To add spells to compare - hover spell names below and click ▲
        </p>
        <p>
          You can also hide spells by clicking ✖ next to spell name
        </p>
      </aside>
    </div>
    <div id="click-reminder">
      <p>
        Tip: you can click on timeline to see auras/damage/etc per target and uptime
      </p>
    </div>
  </div>
</section>
<aside id="the-tooltip" style="display: none">
  <p id="tooltip-time"></p>
  <p id="tooltip-flag"></p>
  <p id="tooltip-source"></p>
  <p id="tooltip-target"></p>
  <p id="tooltip-data"></p>
</aside>
<aside id="aura-controls" style="display: none;">
  <button id="button-fav">▲</button>
  <button id="button-hide">✖</button>
  <button id="button-unhide">✚</button>
</aside>

<dialog id="add-character-dialog">
    <p id="dialog-msg" style="visibility: hidden;">Report wasn't found</p>
    <p>
      <input id="input-report-id" type="text" placeholder="Input report ID">
      <button id="fetch-report-slices" type="button">Load</button>
    </p>
    <p id="select-attempts-wrap">
      <span>Select attempt:</span>
      <select id="select-attempts"></select>
    </p>
    <p id="select-players-wrap">
      <span>Select player:</span>
      <select id="select-players"></select>
    </p>
    <div>
      <button id="button-cancel" >Cancel</button>
      <button id="button-confirm" value="default" style="visibility: hidden;">Confirm</button>
    </div>
</dialog>

</main>
{% endblock the_main %}
