{% extends "layout.html" %}

{% block scripts_head %}
<script src="/static/character.js?v=240817-1" type="module" async></script>
<script src="/static/gear_tooltip.js?v=240814-1" type="module" async></script>
{% endblock scripts_head %}

{% block add_css_file %}
<link rel="stylesheet" type="text/css" href="/static/character.css?v=240814-1">
{% endblock add_css_file %}

{% block the_main %}
<main>
<section id="top-player-info">
  <input id="player-search" type="checkbox">
  <label id="player-search-label" for="player-search">🔍</label>
  
  <div class="search-input">
    <input id="charname-seach" class="player-name" type="text" maxlength="12" placeholder="Press enter when done">
  </div>
  <select id="server-select" class="search-input player-server">
    {% for server in SERVERS %}
    <option value="{{ server }}">{{ server }}</option>
    {% endfor %}
  </select>
  
  <div class="static-info player-name">
    <a id="player-name">.</a>
  </div>
  <div id="player-server" class="static-info player-server">.</div>
  
  <div id="player-overall">
    <span id="player-overall-points">.</span>
    <span id="player-overall-rank">.</span>
  </div>
  <div id="spec-wrap">
    {% for i in range(1,4) %}
    <input id="spec-{{ i }}-input" type="radio" name="spec">
    <label id="spec-{{ i }}-label" for="spec-{{ i }}-input"><img></label>
    {% endfor %}
  </div>
</section>
<div id="wraprwprperweproe">
  <div id="loading-gear">Loading gear data...</div>
  <div id="missing-gear" style="display: none;">No gear snapshots found for this character.</div>
  <section id="gear-wrap" style="display: none;">
    <div id="gear-left">
      {% for slotname in LEFT %}
      <div class="slot {{ slotname }} hidden">
        <img>
        <span></span>
      </div>
      {% endfor %}
    </div>
    <div id="gear-info">
      <aside id="tooltip-stats" class="hidden"></aside>
      <table id="table-info">
        <tbody id="table-info-body">
          <tr>
            <td id="gear-info-gs"></td>
            <td id="char-class"></td>
          </tr>
          <tr>
            <td id="char-level"></td>
            <td id="char-race"></td>
          </tr>
          {% for i in range(2) %}
          <tr class="row-spec">
            <td class="value"><a target="_blank"></a></td>
            <td class="name"></td>
          </tr>
          {% endfor %}
          {% for i in range(2) %}
          <tr class="row-prof">
            <td class="value"></td>
            <td class="name"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="table-stats-wrap">
        <table id="table-stats">
          <tbody id="table-stats-body"></tbody>
        </table>
      </div>
      <div id="set-wrap">
        <button id="set-prev">&lt</button>
        <span id="set-name"></span>
        <button id="set-next">&gt</button>
      </div>
    </div>
    <div id="gear-right">
      {% for slotname in RIGHT %}
      <div class="slot {{ slotname }} hidden">
        <img>
        <span></span>
      </div>
      {% endfor %}
    </div>
    <div id="weapons">
      {% for slotname in WEAPONS %}
      <div class="slot {{ slotname }} hidden">
        <img>
        <span></span>
      </div>
      {% endfor %}
    </div>
  </section>
  <div id="loading-points">Loading raid data...</div>
  <div id="missing-points" style="display: none;">
    <p>
      No raid data found for this character.
    </p>
    <p>
      Points are calculated based on ICC 25 Heroic.
      <!-- Points are calculated based on 25 man heroic mode of the latest expansion phase. -->
    </p>
  </div>
  <section id="player-points-wrap" style="display: none;">
    <div class="table-wrap-wrap">
      <div class="table-wrap">
        <div id="points-wrap-inner">
          <table>
            <thead>
              <tr>
                <th class="player-cell">Boss</th>
                <th>Rank</th>
                <th>Points</th>
                <th>Best Dps</th>
                <th>Dur</th>
                <th>Kills</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody id="points-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="toggle-more-bosses-wrap">
      <button id="toggle-more-bosses">Show more</button>
    </div>
    <div id="rank-info">Rank info
      <div id="rank-info-tt">
        <p>DPS rank is based on % dps from top 1.</p> 
        <p>-</p>
        <p>Player rank is based on best results from each player.</p>
        <p>-</p>
        <p>Raid rank is based on position relative to all logged raids.</p>
        <p>Can be decreased by other players, if they consistently have better dps than you.</p>
      </div>
    </div>
  </section>
</div>
<aside id="tooltip-points" style="display: none;">
  <table>
    <tbody>
      <tr class="row-players no-decimal">
        <td>Player rank</td>
        <td class="td-player value"></td>
        <td>/</td>
        <td class="td-max value"></td>
        <td>=</td>
        <td class="td-points"></td>
        <td>points</td>
      </tr>
      <tr class="row-raids no-decimal">
        <td>Raid rank</td>
        <td class="td-player value"></td>
        <td>/</td>
        <td class="td-max value"></td>
        <td>=</td>
        <td class="td-points"></td>
        <td>points</td>
      </tr>
      <tr class="row-dps">
        <td>Dps diff</td>
        <td class="td-player"></td>
        <td>/</td>
        <td class="td-max"></td>
        <td>=</td>
        <td class="td-points"></td>
        <td>points</td>
      </tr>
    </tbody>
  </table>
</aside>
</main>
{% endblock the_main %}
