{% extends "layout_report.html" %}

{% block scripts_head %}
<script defer src="/static/compare.js"></script>
{% endblock scripts_head %}

{% block the_main %}
<main id="dmg-done">
  <section id="compare-inputs">
    <select id="select-class">
      <option>Select class:</option>
      <option value="death-knight">Death Knight</option>
      <option value="druid">Druid</option>
      <option value="hunter">Hunter</option>
      <option value="mage">Mage</option>
      <option value="paladin">Paladin</option>
      <option value="priest">Priest</option>
      <option value="rogue">Rogue</option>
      <option value="shaman">Shaman</option>
      <option value="warlock">Warlock</option>
      <option value="warrior">Warrior</option>
    </select>
    <select id="select-spell">
      <option>Spells</option>
    </select>
  </section>
  <section id="dmg-done-main">
    <table id="compare-field-table" style="display: none;">
      <thead>
        <tr>
          <th class="player-cell">-</th>
          <th colspan="2">Damage</th>
          <th colspan="6">Direct hits</th>
          <th colspan="6">Damage over time</th>
        </tr>
        <tr id="compare-field-table-headers">
          <th class="player-cell">Name</th>
          <th>Total</th>
          <th>Resisted</th>
          <th>Hits</th>
          <th>Avg</th>
          <th>Crits</th>
          <th>Avg</th>
          <th>%</th>
          <th>Total</th>
          <th>Hits</th>
          <th>Avg</th>
          <th>Crits</th>
          <th>Avg</th>
          <th>%</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="compare-field-table-tbody">
      </tbody>
    </table>
  </section>
</main>
{% endblock the_main %}
