{% extends "layout_report.html" %}

{% block add_style %}
<style>
th {
  height: 2rem;
}
th > img {
	vertical-align: text-bottom;
	min-width: 2rem;
	min-height: 2rem;
	max-height: 2rem;
}
td {
  text-align: right;
}
:is(th, td):nth-child(8) {
  border-right: 5px solid var(--table-border);
}
</style>
{% endblock add_style %}

{% block the_main %}
<main>
  <section class="table-wrap wrap-player">
    <div>
      <table>
        <thead>
          <tr>
            <th class="player-cell"></th>
            <th title="Total"></th>
            {% for spell_id, _info in ITEM_INFO.items() %}
            <th title="{{ _info['name'] }}"><img src="/static/icons/{{ _info['icon'] }}.jpg" alt="{{ spell_id }}"></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody id="potions-table-body">
          {% for player_name, total_value in ITEMS_TOTAL.items() %}
          <tr>
            <td class="player-cell">
              <a class="{{ PLAYER_CLASSES[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
            </td>
            <td>{{ total_value }}</td>
            {% for spell_id in ITEM_INFO %}
            <td>{{ ITEMS.get(spell_id, {}).get(player_name, '') }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  const potionsTableBody = document.getElementById("potions-table-body");
  const getCellValue = (tr, idx) => tr.children[idx].innerText;
  const comparer = idx => (a, b) => getCellValue(b, idx) - getCellValue(a, idx);

  document.querySelectorAll('th:nth-child(n+2)').forEach(th => th.addEventListener('click', (() => {
    Array.from(potionsTableBody.querySelectorAll('tr'))
         .sort(comparer(th.cellIndex))
         .forEach(tr => potionsTableBody.appendChild(tr));
  })));
</script>
{% endblock the_scripts %}
