{% extends "layout_report.html" %}

{% block scripts_head %}
<script src="/static/logs_search.js" async defer></script>
{% endblock scripts_head %}

{% block the_main %}
<main id="logs-db-search-main">
    <section id="logs-db-search-fields">
      <button type="submit" id="submit-button">Submit</button>
      <button type="button" id="addFilterButton">Add filter</button>
      <h1>0x06000000004C3CEB</h1>
    </section>
    <section id="db-search-field">
      <article class="db-search-field-cell">
        <select class="db-search-category"></select>
        <input class="db-search-input" type="text">
      </article>
      <article class="db-search-field-cell">
        <select class="db-search-category"></select>
        <input class="db-search-input" type="text">
      </article>
    </section>
    <section id="response-field" style="margin-top: 30vh;">
    </section>
  </main>
{% endblock the_main %}
