{% extends "layout_report.html" %}

{% block add_style %}
<style>

</style>
{% endblock add_style %}

{% block the_main %}
<main id="report-damage">
  <section class="table-wrap wrap-damage">
    <div>
      <table class="add-player-rank">
        <thead>
          <tr>
            <th class="player-cell"></th>
            {% for _th in HEADS %}
            <th>{{ _th }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-has-total">
          {% for player_name in PLAYERS %}
          <tr>
            <td class="player-cell">
              <a class="{{ PLAYER_CLASSES[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
            </td>
            <td class="total-cell">{{ TOTAL_USEFUL[player_name] }}</td>
            <td class="total-cell">{{ TOTAL[player_name] }}</td>
            {% for tguid, players_damage in TARGETS.items() %}
            <td class="total-cell">{{ players_damage.get(player_name, 0) }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <section id="class-filter">
    <h2>CLASS FILTER ▲</h2>
    <div id="class-filter-wrap"></div>
  </section>
</main>
{% endblock the_main %}
{% block the_scripts %}
<script>
  const getCellValue = (tr, idx) => tr.children[idx].innerText.replace(/ /g, '');
  const comparer = idx => (a, b) => getCellValue(b, idx) - getCellValue(a, idx);

  document.querySelectorAll('th').forEach(th => th.addEventListener('click', () => {
    const tbody = th.closest('thead').nextElementSibling;
    Array.from(tbody.querySelectorAll('tr:nth-child(n+2)'))
         .sort(comparer(th.cellIndex))
         .forEach(tr => tbody.appendChild(tr));
  }));

  const _storage = window.localStorage;
  const classFilter = document.getElementById('class-filter-wrap')
  const CLASSES_TO_LOW = {
    "Death Knight": "death-knight",
    "Druid": "druid",
    "Hunter": "hunter",
    "Mage": "mage",
    "Paladin": "paladin",
    "Priest": "priest",
    "Rogue": "rogue",
    "Shaman": "shaman",
    "Warlock": "warlock",
    "Warrior": "warrior"
  }

  function addInput(class_name) {
    const class_name_low = CLASSES_TO_LOW[class_name];
    const cb_id = `${class_name_low}-cb`;

    const input = document.createElement('input');
    input.type = 'checkbox';
    input.id = cb_id;
    input.value = class_name_low;
    input.checked = _storage.getItem(cb_id) == "true" ? true : false;
    classFilter.appendChild(input);

    const label = document.createElement('label');
    label.setAttribute('for', cb_id);
    label.className = class_name_low;
    label.innerText = class_name;
    classFilter.appendChild(label);
    return input
  }
  function cb_checked(cb) {
    const checked = cb.checked;
    _storage.setItem(cb.id, checked);
    const display = checked ? '' : 'none';
    document.querySelectorAll(`td .${cb.value}`).forEach(a => a.parentNode.parentNode.style.display = display);
  }

  for (let class_name in CLASSES_TO_LOW) {
    const cb = addInput(class_name);
    cb.checked = _storage.getItem(cb.id) != "false" ? true : false;
    cb_checked(cb);
    cb.addEventListener('change', () => cb_checked(cb));
  }
</script>
{% endblock the_scripts %}
