{% extends "layout_report.html" %}

{% block the_main %}
<main id="report-damage">
  <div>
    <table>
      <caption>useful damage</caption>
      {% for player_name, player_total in _total %}
      <tr>
        <td class="player-cell">
          <a class="{{ CLASS_DATA[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
        </td>
        <td class="total-cell">{{ player_total }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>

{% endblock the_main %}
