{% extends "layout_report.html" %}

{% block the_main %}
<main>
<div id="deaths2">
  {% for name_css, timestamp in tabs %}
  <input id="{{ name_css }}" name="deaths-group" type="radio" checked>
  <label class="tab" for="{{ name_css }}">{{ timestamp }}</label>
  <div class="panel">
    <table>
      <tr>
        <th>TIME
        <th>FLAG
        <th>SOURCE
        <th>SPELL
        <th>VALUE
        <th>OVER
      </tr>
      {% for css, time, suffix, source, spell, v1, v2 in death_logs[timestamp] %}
      <tr class="{{css}}">
        <td>{{ time }}</td>
        <td>{{ suffix }}</td>
        <td class="{{ class_data[source] }}">{{ source }}</td>
        <td>{{ spell }}</td>
        <td>{{ v1 }}</td>
        <td>{{ v2 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
</main>
{% endblock the_main %}