{% extends "layout_report.html" %}

{% block add_style %}
<style>
.death-section .panel-head {
  background-color: black;
  font-size: 200%;
}
.death-section .table-wrap {
  padding-left: 1rem;
  max-height: 20rem;
  max-width: fit-content;
  overflow-y: auto;
  transform: scaleX(-1);
}
.death-section .table-wrap-2 {
  transform: scaleX(-1);
}
.death-section th {
  position: sticky;
  top: 0;
}

td {
  padding-inline: .25em;
}
.BUFF {
  --hue: 170;
}
.DEBUFF {
  --hue: 210;
}
#deaths .DAMAGE > td {
  background-color: hsl(348, 100%, 8%);
}
#deaths .BUFF > td {
  background-color: hsl(50, 50%, 8%);
  background-color: hsl(var(--hue), 100%, 12%);
}
#deaths .BUFF.REMOVED > td {
  background-color: hsl(50, 50%, 8%);
  background-color: hsl(var(--hue), 100%, 7%);
}
#deaths .DEBUFF > td {
  background-color: hsl(325, 100%, 8%);
  background-color: hsl(var(--hue), 100%, 12%);
}
#deaths .DEBUFF.REMOVED > td {
  background-color: hsl(325, 100%, 8%);
  background-color: hsl(var(--hue), 100%, 7%);
}
#deaths .HEAL > td {
  background-color: hsl(135, 100%, 8%);
}

.timestamp {
  text-align: right;
}
.name {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.flag {
  min-width: 6em;
}
.value {
  min-width: 4em;
  text-align: right;
}
.unit {
  min-width: 10em;
}
.spell {
  min-width: 15em;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="deaths">
  {% for death_id, death_data in DEATHS.items() %}
  <section class="death-section">
    <p class="panel-head">
      <input type="checkbox" id="{{ death_id }}">
      <label for="{{ death_id }}">{{ death_data['from_start'] }}</label>
      <a class="player-link {{ PLAYER_CLASSES[death_data['player']] }}" href="/reports/{{ REPORT_ID }}/player/{{ death_data['player'] }}/{{ QUERY }}">{{ death_data['player'] }}</a>
    </p>
    <div class="table-wrap" style="display: none;">
      <div class="table-wrap-2">
        <table>
          <thead>
            <tr>
              <th>TIME</th>
              <th colspan="2">FLAG</th>
              <th>SOURCE</th>
              <th>SPELL</th>
              <th><p>VALUE</p><p>TYPE</p></th>
              <th><p>OVERKILL</p><p>STACKS</p></th>
            </tr>
          </thead>
          <tbody>
            <!-- for time, flag, source, target, spell_id, v1, v2 in death_data['death'] -->
            {% for time, flag1, flag2, source, target, spell_id, v1, v2 in death_data['death'] %}
            <tr class="{{ flag1 }} {{ flag2 }}">
              <td class="timestamp">{{ time }}</td>
              <td class="flag">{{ flag1 }}</td>
              <td class="flag">{{ flag2 }}</td>
              <td class="unit {{ CLASSES[source] }}">{{ GUIDS[source]["name"] }}</td>
              {% if spell_id %}
              <td class="spell"><a class="{{ SPELLS[spell_id].color }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ SPELLS[spell_id].name }}</a></td>
              {% else %}
              <td></td>
              {% endif %}
              <td class="value">{{ v1 }}</td>
              <td class="value">{{ v2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endfor %}
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  for (const element of document.querySelectorAll(".death-section")) {
    const input = element.querySelector("input");
    input.checked = false;

    const div = element.querySelector("div");
    const p = element.querySelector("p");
    p.addEventListener("click", event => {
      input.checked = !input.checked;
      div.style.display = input.checked ? "block" : "none"; 
    });
  }
</script>
{% endblock the_scripts %}
