{% extends "layout_report.html" %}

{% block add_style %}
<style>
#deaths {
  margin-bottom: calc(var(--nav-height) * 2 + 1rem);
}

#deaths tr * {
  text-shadow: 0 0 1em var(--background);
}

#open-tabs + label {
  position: fixed;
}
#deaths .panel {
  position: fixed;
  top: 10vh;
  overflow: scroll;
  height: 80%;
}
#deaths .name {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#deaths td:first-of-type {
  text-align: right;
}
#deaths td {
  padding-inline: .1em;
}

#all-tabs label {
  position: relative;
  display: none;
  z-index: 1;
  top: -2vh;
  padding: 0 1rem;
  background-color: var(--background);
  box-shadow: inset 0 0 .4rem var(--primary-color);
}
#open-tabs:checked ~ div label {
  display: block;
}
#deaths input:checked + label {
  color: crimson;
}
#deaths .damage > td {
  background-color: hsl(348, 100%, 15%);
}
#deaths .buff > td {
  background-color: hsl(50, 50%, 20%);
}
#deaths .debuff > td {
  background-color: hsl(325, 100%, 15%);
}
#deaths .heal > td {
  background-color: hsl(135, 100%, 15%);
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="deaths">
  <section id="dmg-done-selection">
    <select id="dmg-done-select">
      <option>Select specific target:</option>
      {% for guid, name in PLAYERS.items() %}
      <option value="{{ guid }}">{{ name }}</option>
      {% endfor %}
    </select>
  </section>
  {% for timestamp, death in DEATHS.items() %}
  <section class="panel2">
    <table>
      <caption>{{ timestamp }}</caption>
      <tr>
        <th>TIME
        <th>FLAG
        <th>SOURCE
        <th>TARGET
        <th>SPELL
        <th>VALUE
        <th>OVER
      </tr>
      {% for time, flag, source, target, spell_id, v1, v2 in death %}
      <tr>
        <td>{{ time }}</td>
        <td>{{ flag }}</td>
        <td class="{{ CLASSES[source] }}">{{ GUIDS[source]["name"] }}</td>
        <td class="{{ CLASSES[target] }}">{{ GUIDS[target]["name"] }}</td>
        {% if spell_id %}
        <td class="spell-name"><a class="{{ SPELLS[spell_id]['color'] }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ SPELLS[spell_id]['name'] }}</a></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ v1 }}</td>
        <td>{{ v2 }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  {% endfor %}
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  const loc = window.location;
  const select = document.getElementById("dmg-done-select");

  const p = new URLSearchParams(loc.search);
  const target = p.get('target');
  target ? select.value = target : select.selectedIndex = 0;
  
  function redirect(event) {
    p.set('target', select.value);
    loc.replace(`${loc.origin}${loc.pathname}?${p}`);
  };

  select.addEventListener('change', redirect);
</script>
{% endblock the_scripts %}
