{% extends "layout_report.html" %}

{% block scripts_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.umd.min.js"></script>
{% endblock scripts_head %}

{% block add_style %}
<style>
#chart {
  max-height: 20vh;
  width: 100%;
}
#player-info {
  display: flex;
  align-items: baseline;
}
#warmane-armory-link {
  margin-left: 3ch;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="dmg-done">
<section id="dmg-done-selection">
  <button type="button" id="dmg-done-reset">All</button>
  <select id="dmg-done-select">
    <option>Select specific target:</option>
    {% for guid_id, target_name in TARGETS.items() %}
    <option value="{{ guid_id }}">{{ target_name }}</option>
    {% endfor %}
  </select>
</section>
<div>
  <ul id="player-nav">
    <li><a href="/reports/{{ REPORT_ID }}/player/{{ SOURCE_NAME }}/{{ QUERY }}">DAMAGE</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/heal/{{ SOURCE_NAME }}/{{ QUERY }}">HEAL</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/taken/{{ SOURCE_NAME }}/{{ QUERY }}">TAKEN</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/player_auras/{{ SOURCE_NAME }}/{{ QUERY }}">AURAS</a></li>
    <li><a>CASTS</a></li>
</div>
<section id="dmg-done-main">
  <div>
    <ul id="player-info">
      <li class="{{ PLAYER_CLASSES[SOURCE_NAME] }}" style="font-size: 300%;">{{ SOURCE_NAME }}</li>
      <li><a id="warmane-armory-link" href="http://armory.warmane.com/character/{{ SOURCE_NAME }}/{{ SERVER }}" target="_blank">Armory🡥</a></li>
    </ul>
  </div>
  {% if NAMES %}
  <table>
    <tbody>
      <tr>
        <th class="spell-name">-</th>
        <th colspan="2">Actual</th>
        <th colspan="2">Reduced</th>
        <th colspan="2"></th>
        <th colspan="5">Direct hits</th>
        <th colspan="5">Damage over time</th>
      </tr>
      <tr>
        <th class="spell-name">Spell</th>
        <th>%</th>
        <th>Amount</th>
        <th>%</th>
        <th>Amount</th>
        <th>Cast</th>
        <th>Miss</th>
        <th colspan="2">Hit</th>
        <th colspan="3">Crit</th>
        <th colspan="2">Hit</th>
        <th colspan="3">Crit</th>
      </tr>
      {% for spell_id, spell_name in NAMES.items() %} 
      <tr class="{{ spell_id }}">
        <td class="spell-name"><a class="{{ COLORS[spell_id] }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ spell_name }}</a></td>
        <td class="count">{{ ACTUAL_PERCENT[spell_id] }}</td>
        <td class="total-cell">{{ ACTUAL[spell_id] }}</td>
        <td class="count">{{ REDUCED_PERCENT[spell_id] }}</td>
        <td class="total-cell">{{ REDUCED[spell_id] }}</td>
        <td class="count">{{ CASTS[spell_name] }}</td>
        <td class="count">{{ MISSES[spell_name] }}</td>
        {% for hits, percent in HITS[spell_id] %}
        {% for _count, _avg in hits %}
        <td class="count">{{ _count }}</td>
        <td class="count">
          {% if _avg %}
          {{ _avg[0] }}
          <table class="avgs">
            {% for avg in _avg[1:] %}
            <tr><td>{{ avg }}
            {% endfor %}
          </table>
          {% endif %}
        </td>
        {% endfor %}
        <td class="count">{{ percent }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td class="spell-name">Total</td>
        <td></td>
        <td>{{ ACTUAL["Total"] }}</td>
        <td></td>
        <td>{{ REDUCED["Total"] }}</td>
        <td colspan="69"></td>
      </tr>
    </tfoot>
  </table>
  {% else %}
  <p>Player not found</p>
  {% endif %}
  <canvas id="chart"></canvas>
</section>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  const loc = window.location;
  const reset = document.getElementById("dmg-done-reset");
  const select = document.getElementById("dmg-done-select");

  const p = new URLSearchParams(loc.search);
  const target = p.get('target');
  target ? select.value = target : select.selectedIndex = 0;
  
  function redirect(event) {
    const isReset = (select.selectedIndex == 0 || event.target == reset);
    isReset ? p.delete('target') : p.set('target', select.value);
    loc.replace(`${loc.origin}${loc.pathname}?${p}`);
  };

  reset.addEventListener('click', redirect);
  select.addEventListener('change', redirect);

  async function draw_chart(datapoints) {
    console.log(Object.keys(datapoints).length);
    if (Object.keys(datapoints).length === 0) return;
    const data = {
      datasets: [
        {
          data: datapoints,
          cubicInterpolationMode: 'monotone',
          borderColor: '#FF0000',
          pointBorderWidth: 0,
        }
      ]
    };

    const datapoints_values = Object.values(datapoints);
    const datapoints_min = Math.min(...datapoints_values);
    const graph_min = Math.floor(datapoints_min);
    const datapoints_max = Math.max(...datapoints_values);
    const graph_max = Math.ceil(datapoints_max);

    const options = {
      animation: false,
      responsive: true,
      scales: {
        y: {
          grid: {
            color: 'rgb(32, 32, 32)',
            tickLength: 1,
          },
          min: graph_min,
          max: graph_max,
          display: true,
          title: {
            display: true,
            text: 'DPS'
          },
          ticks: {
            padding: 0
          }
        },
        x: {
          display: false
        }
      },
      plugins: {
        tooltip: {
          intersect: false
        },
        legend: {
          display: false
        }
      }
    };

    const config = {
      type: 'line',
      data: data,
      options: options,
    };
    new Chart(document.getElementById('chart'), config);
  }

  const get_dps_request = new XMLHttpRequest();
  get_dps_request.onreadystatechange = () => {
    if (get_dps_request.readyState != 4 || get_dps_request.status != 200) return;
    const datapoints = JSON.parse(get_dps_request.response);
    draw_chart(datapoints);
  }
  (function() {
    const params = new URLSearchParams(window.location.search);
    const paramsjson = Object.fromEntries(params);
    const reportID = window.location.pathname.split('/')[2];
    const playerName = window.location.pathname.split('/')[4];
    paramsjson.player_name = playerName;
    const END_POINT = `/reports/${reportID}/get_dps`;
    get_dps_request.open("POST", END_POINT);
    get_dps_request.send(JSON.stringify(paramsjson));
  })();
</script>
{% endblock the_scripts %}