{% extends "layout.html" %}

{% block the_main %}
<div id="dmg-taken">
  <table id="dmg-taken-table">
    <tr>
      <th>
    {% for unit in dmg %}
      <th>{{ unit }}
    {% endfor %}
    </tr>
    {% for player in players %}
    <tr>
      <td class="player-cell">{{player}}
      {% for d in dmg.values() %}
      <td>{{d[player]}}
      {% endfor %}
    </tr>
    {% endfor %}
    
  </table>
</div>
{% endblock the_main %}
{% block scripts %}
<script>
  const getCellValue = (tr, idx) => tr.children[idx].innerText; // use if <a>
  // const getCellValue = (tr, idx) => tr.children[idx].textContent;
  // const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

  // const comparer = (idx) => (a, b) => ((v1, v2) => 
  //     v1.replace(/ /g,'') - v2.replace(/ /g,'')
  //   )(getCellValue(b, idx), getCellValue(a, idx));
  
  var comparer = function(idx) {
    if (!idx) {return}
    return function(a, b) {
      return function(v1, v2) {
        // console.log(v1, v2)
        return v1.replace(/ /g,'') - v2.replace(/ /g,'')
      }(getCellValue(b, idx), getCellValue(a, idx));
    }
  };

  document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const tbody = th.closest('tbody');
    // console.log()
    // console.log(Array.from(table.querySelectorAll('tr:nth-child(n+2)')))
    Array.from(tbody.querySelectorAll('tr:nth-child(n+2)'))
        //  .sort(comparer(th.cellIndex))
         .sort(comparer(th.cellIndex))
        //  .sort(comparer(Array.from(th.parentNode.children).indexOf(th)))
         .forEach(tr => tbody.appendChild(tr));
  })));

</script>
{% endblock scripts %}