{% extends "layout_report.html" %}

{% block scripts_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.umd.min.js"></script>
{% endblock scripts_head %}

{% block add_style %}
<style>
#chart-wrap {
  height: 20vh;
  width: 100%;
}
#chart {
  height: 100;
  width: 100%;
}
#chart-slice > * {
  font-size: 200%;
}
#dmg-done button {
  padding-inline: 2ch;
}
.sliced-control {
  font-size: 200%;
  min-width: 10ch;
}
img {
  min-width: 1em;
  max-width: 1em;
  min-height: 1em;
  max-height: 1em;
}
#player-info {
	display: flex;
	align-items: end;
  flex-direction: column;
}
@media (orientation: landscape) {
  #player-info {
    align-items: first baseline;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="dmg-done" data-source-name="{{ SOURCE_NAME }}" data-report-id="{{ REPORT_ID }}">
<section id="dmg-done-selection">
  <button type="button" id="dmg-done-reset">All</button>
  <select id="dmg-done-select">
    <option>Select specific target:</option>
    {% for guid_id, target_name in TARGETS.items() %}
    <option value="{{ guid_id }}">{{ target_name }}</option>
    {% endfor %}
  </select>
</section>
<section id="player-nav-wrap">
  <ul id="player-nav">
    <li><a href="/reports/{{ REPORT_ID }}/player/{{ SOURCE_NAME }}/{{ QUERY }}">DAMAGE</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/heal/{{ SOURCE_NAME }}/{{ QUERY }}">HEAL</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/taken/{{ SOURCE_NAME }}/{{ QUERY }}">TAKEN</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/healed/{{ SOURCE_NAME }}/{{ QUERY }}">HEALED</a></li>
    <li><a href="/reports/{{ REPORT_ID }}/casts/{{ SOURCE_NAME }}/{{ QUERY }}">TIMELINE</a></li>
</section>
<section>
  <ul id="player-info">
    <li class="{{ PLAYER_CLASSES[SOURCE_NAME] }}" style="font-size: 300%;">{{ SOURCE_NAME }}</li>
    <li><a id="warmane-armory-link" href="http://armory.warmane.com/character/{{ SOURCE_NAME }}/{{ SERVER }}" target="_blank">Armory⇗</a></li>
    <li><input type="checkbox" id="toggle-graph"><label for="toggle-graph">Show graph</label></li>
    <li class="sliced-control">
      <span>Sliced</span>
      <select id="sliced-sec">
        <option value=0 selected>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15>15</option>
        <option value=20>20</option>
        <option value=30>30</option>
      </select>
      <span>sec</span>
    </li>
  </ul>
  <div id="chart-wrap">
    <canvas id="chart"></canvas>
  </div>
</section>
<section id="dmg-done-main" class="table-wrap wrap-spell">
  {% if SPELLS_DATA %}
  <div class="table-wrap wrap-spell">
    <table>
      <tbody>
        <tr>
          <th class="spell-name">-</th>
          <th colspan="2">Actual</th>
          <th colspan="2">Reduced</th>
          <th colspan="2"></th>
          <th colspan="5">Direct hits</th>
          <th colspan="5">Damage over time</th>
        </tr>
        <tr>
          <th class="spell-name">Spell</th>
          <th>%</th>
          <th>Amount</th>
          <th>%</th>
          <th>Amount</th>
          <th>Cast</th>
          <th>Miss</th>
          <th colspan="2">Hit</th>
          <th colspan="3">Crit</th>
          <th colspan="2">Hit</th>
          <th colspan="3">Crit</th>
        </tr>
        {% for spell_id, spell_data in SPELLS_DATA.items() %} 
        <tr>
          <td class="spell-name">
            <img src="/static/icons/{{ spell_data['icon'] }}.jpg">
            <a class="{{ spell_data['color'] }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ spell_data['name'] }}</a>
          </td>
          <td class="count">{{ ACTUAL_PERCENT[spell_id] }}</td>
          <td class="total-cell">{{ ACTUAL[spell_id] }}</td>
          <td class="count">{{ REDUCED_PERCENT[spell_id] }}</td>
          <td class="total-cell">{{ REDUCED[spell_id] }}</td>
          <td class="count">{{ CASTS[spell_id] }}</td>
          <td class="count">{{ MISSES[spell_id] }}</td>
          {% for hits, percent in HITS[spell_id] %}
          {% for _count, _avg in hits %}
          <td class="count">{{ _count }}</td>
          <td class="count">
            {% if _avg %}
            {{ _avg[0] }}
            <table class="avgs">
              {% for avg in _avg[1:] %}
              <tr><td>{{ avg }}
              {% endfor %}
            </table>
            {% endif %}
          </td>
          {% endfor %}
          <td class="count">{{ percent }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td class="spell-name">Total</td>
          <td></td>
          <td>{{ ACTUAL["Total"] }}</td>
          <td></td>
          <td>{{ REDUCED["Total"] }}</td>
          <td colspan="69"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  {% else %}
  <p>No data</p>
  {% endif %}
</section>
{% if ABORBS_DETAILS %}
<section>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Flag</th>
        <th>Source</th>
        <th>Spell name</th>
        <th>Amount</th>
        <th>Total Hit</th>
      </tr>
    </thead>
    <tbody>
      {% for ts, flag, sguid, spellid, amount, hit in ABORBS_DETAILS %}
      <tr>
        <td>{{ts}}</td>
        <td>{{flag}}</td>
        <td class="{{ PLAYER_CLASSES[sguid] }}">{{ sguid }}</td>
        <td class="spell-name">
          {{spellid}}
        </td>
        <td>{{amount}}</td>
        <td>{{hit}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
const TARGET_RESET = document.getElementById("dmg-done-reset");
const TARGET_SELECT = document.getElementById("dmg-done-select");
const CHART_ELEMENT_WRAP = document.getElementById('chart-wrap');
const TOGGLE_GRAPH = document.getElementById('toggle-graph');
const SELECT_SLICE_SECONDS = document.getElementById("sliced-sec");
const GET_DPS_REQUEST = new XMLHttpRequest();
const main = document.querySelector("main");
const REPORT_ID = main.getAttribute("data-report-id");
const SOURCE_NAME = main.getAttribute("data-source-name");
const QUERY_PARAMS = new URLSearchParams(location.search);
const TARGET = QUERY_PARAMS.get('target');
TARGET ? TARGET_SELECT.value = TARGET : TARGET_SELECT.selectedIndex = 0;

function redirect(event) {
  const isReset = (TARGET_SELECT.selectedIndex == 0 || event.target == TARGET_RESET);
  isReset ? QUERY_PARAMS.delete('target') : QUERY_PARAMS.set('target', TARGET_SELECT.value);
  location.replace(`${location.origin}${location.pathname}?${QUERY_PARAMS}`);
};

function togglegraph() {
  if (!TOGGLE_GRAPH.checked) {
    CHART_ELEMENT_WRAP.style.display = "none";
  } else {
    send_post();
    CHART_ELEMENT_WRAP.style.removeProperty("display");
  }
}

function send_post() {
  if (!TOGGLE_GRAPH.checked) return;
  QUERY_PARAMS.set("player_name", SOURCE_NAME)
  QUERY_PARAMS.set("sec", SELECT_SLICE_SECONDS.value);
  const params_obj = Object.fromEntries(QUERY_PARAMS);
  const END_POINT = `/reports/${REPORT_ID}/get_dps`;
  GET_DPS_REQUEST.open("POST", END_POINT);
  GET_DPS_REQUEST.send(JSON.stringify(params_obj));
}


const options = {
  maintainAspectRatio: false,
    animation: false,
    animation: false,
    responsive: true,
  animation: false,
    responsive: true,
  scales: {
    y: {
      grid: {
        color: '#141414',
        tickLength: 1,
      },
      title: {
        display: true,
        text: 'DPS',
      },
      ticks: {
        padding: 0,
      },
    },
    x: {
      grid: {
        color: '#141414',
        tickLength: 1,
      },
    }
  },
  plugins: {
    tooltip: {
      intersect: false,
    },
    legend: {
      display: false,
    },
  },
  interaction: {
    mode: 'index',
  }
};
const CHART = new Chart(document.getElementById('chart'), {
  type: 'line',
  options: options,
});

GET_DPS_REQUEST.onreadystatechange = () => {
  if (GET_DPS_REQUEST.readyState != 4 || GET_DPS_REQUEST.status != 200) return;
  const datapoints = JSON.parse(GET_DPS_REQUEST.response);
  chartSetData(datapoints);
}

function make_new_dataset(datapoints) {
  return {
    data: datapoints,
    cubicInterpolationMode: 'monotone',
    borderColor: '#6900cc',
    pointBorderWidth: 0,
  }
}

function chartSetData(datapoints) {
  if (Object.keys(datapoints).length === 0 && CHART.data.datasets.length === 0) {
    return
  }
  const datapoints_values = Object.values(datapoints);
  const datapoints_min = Math.min(...datapoints_values);
  const datapoints_max = Math.max(...datapoints_values);
  CHART.options.scales.y.min = Math.floor(datapoints_min);
  CHART.options.scales.y.max = Math.ceil(datapoints_max);
  CHART.data.datasets[0] = make_new_dataset(datapoints);
  CHART.update();
}

togglegraph();
TOGGLE_GRAPH.addEventListener("change", togglegraph);
TARGET_RESET.addEventListener("click", redirect);
TARGET_SELECT.addEventListener("change", redirect);
SELECT_SLICE_SECONDS.addEventListener("change", send_post);
</script>
{% endblock the_scripts %}