{% extends "layout.html" %}

{% block the_main %}
<main id="fights-log">
  <table id="fights-log-table">
    <thead>
      <tr id="fights-log-table-header">
        <td>DATE</td>
        <td>BOSS</td>
        <td>GUILD</td>
        <td>S</td>
        <td>M</td>
        <td>W</td>
        <td>DUR</td>
        <td>ID</td>
        <td>PLAYERS</td>
      </tr>
    </thead>
    <tbody>
      {% for data in df %}
      <tr>
        <td>{{ data["d"] }}</td>
        <td>{{ data["b"] }}</td>
        <td>{{ data["g"] }}</td>
        <td>{{ data["s"] }}</td>
        <td>{{ data["m"] }}</td>
        <td>{{ data["w"] }}</td>
        <td>{{ data["t"] }}</td>
        <td><a href="http://armory.warmane.com/pveladder/Lordaeron/details/{{ data['id'] }}" rel="external" target="_blank">{{ data['id'] }}</a></td>
        <td>
          <input id="k{{ data['id'] }}" class="radio" name="fights-players-group" type="radio">
          <label class="show-players" for="k{{ data['id'] }}">PLAYERS</label>
          <section class="fights-players">
            <table>
              <tr>
                <th>PLAYER</th>
                <th>GUILD</th>
              </tr>
              {% for player in data["p"] %}
              <tr>
                <td class="{{ player['class'] }}" title="{{ player['spec'] }}"><img src="{{ icon_cdn_link }}/{{ player['icon'] }}.jpg">{{ player['name'] }}</td>
                <td>{{ player['guild'] }}</td>
              </tr>
              {% endfor %}
            </table>
          </section>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock the_main %}
{% block main_foot %}
<footer>
  <ul>
    <li>
      <a href="{{ url }}&page={{ page-1 }}">&lt;&lt;</a>
    </li>
    <li>
      <h1><a href="{{ url }}">Page {{ page+1 }}</h1></a>
    </li>
    <li>
      <a href="{{ url }}&page={{ page+1 }}"><h1>&gt;&gt;</h1></a>
    </li>
    <li>
      <button id="hide-players" type="reset">X</button>
    </li>
  </ul>
</footer>
{% endblock main_foot %}

{% block the_scripts %}
<script>
  document.getElementById("hide-players").addEventListener('click', () => document.querySelectorAll('.radio').forEach(input => input.checked = false));
</script>
{% endblock the_scripts %}