<!DOCTYPE html>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,medium">
<head>
	<title>UwU Logs</title>
</head>
<body>
	<div id="home-page">
        <a href="/logs_list">LOGS LIST</a>
        <a href="/upload">UPLOAD LOGS</a>
        <a>MY GUILD</a>
        <a>ABOUT</a>
        <a href="/WarmaneBossFights">BossDB</a>
        <!-- <a href="/">MY GUILD</a>
        <a href="/">MY PROFILE</a>
        <a href="/">ABOUT</a> -->
    </div>
</body>