{% extends "layout.html" %}
{% block add_style %}
<style>
li {
  padding-left: 3rem;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="home-page">
  <h1>Welcome to UwU Logs</h1>
  <section style="max-width: 100vmin;">
    <h2>
      <p>UwU Logs is a World of Warcraft combat log parser.</p>
      <p>Supports any Wrath of the Lich King (3.3.5) server.</p>
    </h2>
    <h2>Features include</h2>
    <ul>
      <li>Damage top</li>
      <li>Detailed damage/heal/damage taken breakdown</li>
      <li>Actions timeline</li>
      <li>Useful damage</li>
      <li>Consumables</li>
      <li>Deaths</li>
      <li>Valk grabs</li>
      <li>Player auras</li>
      <li>Comparison between same classes</li>
      <li>PvE Stats</li>
    </ul>
    <h2>Soon<span>TM</span></h2>
    <ul>
      <li>All fights history by player</li>
      <li>Logs search (filter forms - guid, spell, etc.)</li>
      <li>Friendly fire: Bloodbolt Splash, UCM, bpc vortex</li>
      <li>Self harm: UCM, Chilled to the Bone</li>
      <li>Top: no externals</li>
    </ul>
  </section>
</main>
{% endblock the_main %}