{% extends "layout.html" %}
{% block head_meta %}
<meta name="title" content="UwU Logs - Ladder Live">
<meta name="description" content="Ladder live for UwU Logs.">
<link rel="shortcut icon" href="/favicon.ico">
{% endblock head_meta %}
{% block scripts_head %}
<script type="module" src="static/ladder.js?v={{ V }}"></script>
{% endblock scripts_head %}
{% block add_style %}
<style>
.hidden {
  display: none;
}
td {
  padding-inline: .25em;
}

#mainshit-table .wipe td {
  background-color: hsl(357, 100%, 13%);
}

#mainshit-table .kill td {
  background-color: hsl(107, 100%, 12%);
}

.cell-guild {
  min-width: 14em;
}

.cell-attempts {
  min-width: 2em;
  text-align: right;
}
.cell-server {
  min-width: 1.5em;
  text-align: center;
}

.cell-mode {
  min-width: 4em;
}
.cell-time {
  min-width: 3em;
  text-align: right;
}

.cell-size {
  text-align: right;
  min-width: 2em;
}

.cell-id {
  display: none;
}
td.cell-id {
  min-width: 6em;
}

.cell-boss {
  text-align: center;
  min-width: 13.5em;
}
#controls,
#mainshit {
  font-size: 150%;
}

img {
  min-height: 1em;
  max-height: 1em;
  min-width: 1em;
  max-width: 1em;
  vertical-align: text-bottom;
  padding-inline: .15em;
}
#fights-players {
  margin-bottom: 1rem;
  position: fixed;
  bottom: var(--bottom-row-one);
  right: 0;
}
.cell-name {
  min-width: 9em;
}
@media (orientation: portrait) {
  #fights-players {
    bottom: calc(var(--bottom-row-one) * 3);
  }
  footer {
    height: calc(var(--bottom-row-one) * 3);
  }
}
</style>
{% endblock add_style %}

{% block the_main %}
<main>
  <section id="mainshit">
    <table id="mainshit-table">
      <thead>
        <tr>
          <th class="cell-id">ID</th>
          <th></th>
          <th>Time</th>
          <th>Try</th>
          <th>Fight name</th>
          <th colspan="2">Difficulty</th>
          <th>Guild</th>
        </tr>
      </thead>
      <tbody id="mainshit-body"></tbody>
      <tfoot id="mainshit-foot" style="display: none;"></tfoot>
    </table>
  </section>
  <section id="fights-players">
    <table id="fights-players-table">
      <tbody></tbody>
      <tfoot>
        <tr>
          <th>PLAYER</th>
          <th>GUILD</th>
        </tr>
      </tfoot>
    </table>
  </section>
</main>
{% endblock the_main %}
{% block main_foot %}
<footer>
  <section id="controls">
    <select id="select-server">
      <option value="all">Any server</option>
      <option value="lordaeron">Lordaeron</option>
      <option value="icecrown">Icecrown</option>
    </select>
    <select id="select-size">
      <option value="all">Any size</option>
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
    <select id="select-mode">
      <option value="all">Any mode</option>
      <option value="Heroic">Heroic</option>
      <option value="Normal">Normal</option>
    </select>
    <select id="select-faction">
      <option value="all">Any faction</option>
      <option value="alliance">Alliance</option>
      <option value="horde">Horde</option>
    </select>
    <select id="select-timeout">
      <option value="30">Auto hide</option>
      <option value="0">0</option>
      <option value="2">2</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="60">60</option>
      <option value="120">120</option>
      <option value="300">300</option>
    </select>
    <input type="checkbox" id="show-players" checked>
    <label for="show-players">Show players</label>
    <input type="checkbox" id="show-live" checked>
    <label for="show-live">Show live</label>
    <input type="checkbox" id="show-done">
    <label for="show-done">Show done</label>
  </section>
</footer>
{% endblock main_foot %}