{% extends "layout.html" %}

{% if REPORT_ID %}

{% block head_meta %}
<meta name="title" content="UwU Logs{% if REPORT_NAME %} - {{ REPORT_NAME }}{% endif %}">
<meta name="description" content="WoTLK Logs. Check out full report via link.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://uwu-logs.xyz/">
<meta property="og:title" content="UwU Logs{% if REPORT_NAME %} - {{ REPORT_NAME }}{% endif %}">
<meta property="og:description" content="WoTLK Logs. Check out full report via link.">
<!-- <meta property="og:image" content="/static/123123.png"> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://uwu-logs.xyz/">
<meta property="twitter:title" content="UwU Logs{% if REPORT_NAME %} - {{ REPORT_NAME }}{% endif %}">
<meta property="twitter:description" content="WoTLK Logs. Check out full report via link.">
<!-- <meta property="twitter:image" content="/static/123123.png"> -->
{% endblock head_meta %}

{% block fight_aside %}
{% if SEGMENTS_LINKS %}
<aside id="fights-container">
  <h1><a href="/reports/{{ REPORT_ID }}">{{ REPORT_NAME }}</a></h1>
  <ul>
    {% for boss_name, boss_data in SEGMENTS_LINKS.items() %}
    <li>
      <a href="{{ boss_data['link']['href'] }}" class="{{ boss_data['link']['class_name'] }}">{{ boss_data['link']['text'] }}</a>
      <ul class="diffs">
        {% for diff_id, diff_data in boss_data['links'].items() %}
        <li>
          <a href="{{ diff_data['link']['href'] }}" class="{{ diff_data['link']['class_name'] }}">{{ diff_data['link']['text'] }}</a>
          <ul class="segments">
            {% for segment in diff_data['links'] %}
            <li>
              <a href="{{ segment['href'] }}" class="{{ segment['class_name'] }}">{{ segment['text'] }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
{% endblock fight_aside %}
{% block main_foot %}
<footer>
  <ul id="bot-nav">
    <li id="report-slice">
      <a href="/reports/{{ REPORT_ID }}/{{ QUERY }}"><span id="slice-name">{{ SLICE_NAME }}</span><span id="slice-dur">{{ DURATION }}</span><span id="slice-tries">{{ SLICE_TRIES }}</span></a>
    </li>
    <li>
      {% if 'boss' in QUERY %}
      <a href="/reports/{{ REPORT_ID }}/damage/{{ QUERY }}">DAMAGE</a>
      {% else %}
      <a>DAMAGE</a>
      {% endif %}
    </li>
    <!-- <a href="/reports/{{ REPORT_ID }}/heal/{{ QUERY }}">HEAL</a> -->
    <!-- <a href="/reports/{{ REPORT_ID }}/deaths/{{ QUERY }}">DEATHS</a> -->
    <li>
      <a href="/reports/{{ REPORT_ID }}/consumables/{{ QUERY }}">CONSUMABLES</a>
    </li>
    <li>
      <a href="/reports/{{ REPORT_ID }}/all_auras/{{ QUERY }}">AURAS</a>
    </li>
    <li>
      <a href="/reports/{{ REPORT_ID }}/compare/{{ QUERY }}">COMPARE</a>
    </li>
    <li>
      <a href="/reports/{{ REPORT_ID }}/valks/{{ QUERY }}">VALKS</a>
    </li>
    <!-- <li>
      <a href="/reports/{{ REPORT_ID }}/custom_search/{{ QUERY }}">SEARCH</a>
    </li> -->
    <li id="filtered-spells-container">
      <input id="spells-search" type="text" maxlength="10" size="10" placeholder="Search for spells">
      <div id="filtered-spells"></div>
    </li>
  </ul>
</footer>
{% endblock main_foot %}

{% block main_scripts %}
<script>
  const tabs = document.querySelectorAll('[type="radio"]');
  if (tabs.length > 0) tabs[0].checked = true;

  const QUERY = window.location.search;
  const reportID = window.location.pathname.split('/')[2];
  const END_POINT = `/reports/${reportID}/spellsearch`;
  const spellSearchInput = document.getElementById("spells-search");
  const spellSearchResults = document.getElementById("filtered-spells");
  
  function newSpan(data) {
    const span = document.createElement('span');
    span.innerText = data;
    return span;
  }

  const xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = () => {
    if (xhttp.readyState != 4 || xhttp.status != 200) return;

    const response = JSON.parse(xhttp.response);

    if (Object.keys(response).length === 0) {
      spellSearchResults.innerHTML = "Spell not found!";
      return
    }

    spellSearchResults.innerHTML = "";
    for (let spellID in response) {
      const link = document.createElement('a');
      link.href = `/reports/${reportID}/spell/${spellID}/${QUERY}`;
      link.appendChild(newSpan(spellID));
      link.appendChild(newSpan(response[spellID]));
      spellSearchResults.appendChild(link);
    }
  }

  let requestTimeout;
  spellSearchInput.addEventListener('input', () => {
    clearTimeout(requestTimeout);
    if (spellSearchInput.value.length < 3) return;

    requestTimeout = setTimeout(() => {
      xhttp.open("POST", END_POINT);
      xhttp.send(JSON.stringify({'filter': spellSearchInput.value}));
    }, 500);
  });
</script>
{% endblock main_scripts %}
{% endif %}
