<!DOCTYPE html>
<head>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap">
	{% block add_css_file %}{% endblock add_css_file %}
	{% block scripts_head %}{% endblock scripts_head %}
	{% block head_meta %}{% endblock head_meta %}
	<title>UwU Logs{% if report_name %} - {{ report_name }}{% endif %}</title>
	
	<style>
    * {
      color:gainsboro;
      font-family: Ubuntu;
      font-size: 1.6vh;
      text-decoration: none;
      font-weight: 500;
      margin: 0;
    }

    @media (min-width: 1100px) {
      * {
        font-size: 2vh;
      }
    }
	</style>
	{% block add_style %}{% endblock add_style %}
	<!-- <script>let FOUC_FIX; </script> -->
</head>
<body>
	<nav>
    <a id="home-button">UwU LOGS</a>
    <!-- <a id="home-button" href="/" >UwU LOGS</a> -->
    <input id="open-top" type="checkbox"></button>
    <label id="top-chkbox" for="open-top">v</label>
		<div id="top-nav">
			<a href="/logs_list">LOGS LIST</a>
			<a href="/upload">UPLOAD LOGS</a>
			<a href="/WarmaneBossFights">BossDB</a>
			<a href="/WarmaneLadder">Ladder</a>
			<!-- <a href="/test">TEST</a> -->
			<!-- <a>ABOUT</a> -->
	  </div>
	</nav>
  {% block the_main %}{% endblock the_main %}
  {% block fight_aside %}{% endblock fight_aside %}
  {% block main_foot %}{% endblock main_foot %}
  {% block main_scripts %}{% endblock main_scripts %}
  {% block the_scripts %}{% endblock the_scripts %}
</body>