{% extends "layout.html" %}

{% block the_main %}
<main id="calendar">
  <!-- <section id="calendar-controls">
    <select id="calendar-server-select">
      <option>All servers</option>
      <option></option>
    </select>
  </section> -->
  <section id="calendar-table">
{{ new_month | safe }}
  </section>
</main>
{% endblock the_main %}

{% block main_foot %}
<footer>
  <ul id="calendar-footer">
    <li>
      <a href="/logs_list?page={{ page-1 }}">&lt;&lt;</a>
    </li>
    <li>
      <a id="calendar-footer-date" href="/logs_list">{{ month }} {{ year }}</a>
    </li>
    <li>
      <a href="/logs_list?page={{ page+1 }}">&gt;&gt;</a>
    </li>
  </ul>
</footer>
{% endblock main_foot %}