{% extends "layout.html" %}

{% block add_style %}
<style>
#calendar-table * {
  font-size: clamp(10pt, calc(100vw / 17), 40pt);
}
#calendar-table label {
  padding: 0;
  min-width: 3ch;
}
#calendar-table td {
  text-align: right;
}
#calendar-table aside {
  display: none;
  position: fixed;
  bottom: 5%;
  left: auto;
  right: 0;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
#calendar-table input:checked ~ aside {
  display: flex;
}
#calendar-table a {
  text-align: left;
  font-size: 60%;
  min-width: max-content;
  padding-right: 1ch;
}
#calendar-table tr:nth-child(n+2) > td {
  color: var(--highlight-color);
}
#calendar-footer a {
  font-size: 150%;
}
#calendar-footer-date {
  display: inline-block;
  min-width: 14ch;
  text-align: center;
}
@media (max-width: 1100px) {
  #calendar-footer {
    justify-content: center;
  }
  #calendar-table aside {
    height: 100vw;
  }
  #calendar-table a {
    font-size: 90%;
  }
}

#controls > * {
  font-size: clamp(10pt, 3vh, 7vw);
  text-align: center;
}

#controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#ladder #instance,
#ladder #boss {
  grid-column: span 3;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="calendar">
  <!-- <section id="calendar-controls">
    <select id="calendar-server-select">
      <option>All servers</option>
      <option></option>
    </select>
  </section> -->
  <section id="calendar-table">
{{ new_month | safe }}
  </section>
</main>
{% endblock the_main %}

{% block main_foot %}
<footer>
  <ul id="calendar-footer">
    <li>
      <a href="/logs_list?page={{ page-1 }}">&lt;&lt;</a>
    </li>
    <li>
      <a id="calendar-footer-date" href="/logs_list">{{ month }} {{ year }}</a>
    </li>
    <li>
      <a href="/logs_list?page={{ page+1 }}">&gt;&gt;</a>
    </li>
  </ul>
</footer>
{% endblock main_foot %}