{% extends "layout.html" %}

{% block add_style %}
<style>
select > option {
  font-size: 50%;
}
#calendar-table {
  font-size: 275%;
}
@media (orientation: portrait) {
  #calendar-table {
    font-size: 6vw;
  }
}
#calendar-table label {
  padding: 0;
  min-width: 4ch;
  text-align: right;
}
#calendar-table td {
  text-align: right;
  min-width: 4ch;
}
#calendar-table aside {
  display: none;
  position: fixed;
  left: auto;
  right: 0;
  bottom: 0;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
#calendar-table input:checked ~ aside {
  display: flex;
}
#calendar-table aside a {
  text-align: left;
  font-size: 60%;
  min-width: max-content;
  padding-right: 1ch;
}
#calendar-table td {
  color: var(--highlight-color);
}
@media (max-width: 1100px) {
  #calendar-table aside {
    height: 50%;
  }
  #calendar-table aside a {
    font-size: 90%;
  }
}

#calendar-controls {
  display: flex;
  flex-direction: column;
}
#calendar-controls-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#month-prev,
#month-next {
  padding-inline: 1ch;
}
#select-year {
  min-width: 5ch;
}
#select-month {
  min-width: 10ch;
}
#toggle-more {
  padding: 0;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="calendar">
<datalist id="fight-list">
  {% for fight_name in ALL_FIGHT_NAMES %}
  <option value="{{ fight_name }}"></option>
  {% endfor %}
</datalist>
<section id="calendar-table">
  <table>
    <caption>
      <section id="calendar-controls">
        <div id="calendar-controls-top">
          <a id="month-prev">&lt;&lt;</a>
          <select id="select-month">
            {% for month_n, month_name in MONTHS %}
            <option value="{{ month_n }}"{% if month_n == CURRENT_MONTH %} selected{% endif %}>{{ month_name }}</option>
            {% endfor %}
          </select>
          <select id="select-year">
            {% for year in YEARS %}
            <option value="{{ year }}"{% if year == CURRENT_YEAR %} selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
          <button id="toggle-more">🔍</button>
          <a id="month-next">&gt;&gt;</a>
        </div>
        <div id="calendar-controls-bot" style="display: none;">
          <select id="select-server">
            <option selected value="">All Servers</option>
            {% for server in SERVERS %}
            <option value="{{ server }}"{% if server == CURRENT_SERVER %} selected{% endif %}>{{ server }}</option>
            {% endfor %}
          </select>
          <input id="input-fight" type="text" placeholder="Fight name" list="fight-list">
          <input id="input-player" type="text" placeholder="Player in raid" maxlength="12" autocomplete="on">
          <input id="input-author" type="text" placeholder="Author name" maxlength="12" autocomplete="on">
        </div>
      </section>
    </caption>
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody id="calendar-body">
      {% for week in CALEND %}
      <tr>
        {% for day_id, day_n in week %}
        {% if not MONTH.get(day_id) %}
        <td>{{ day_n }}</td>
        {% else %}
        <td>
          <input id="calendar-{{ day_id }}" class="radio" name="calendar-days" type="radio">
          <label for="calendar-{{ day_id }}" class="show-reports">{{ day_n }}</label>
          <aside>
            {% for report_id, formatted_report_info in MONTH.get(day_id) %}
            <a href="/reports/{{ report_id }}/">{{ formatted_report_info }}</a>
            {% endfor %}
          </aside>
        </td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
(function(){
const SELECT_MONTH = document.getElementById("select-month");
const SELECT_YEAR = document.getElementById("select-year");
const TOGGLE_MORE = document.getElementById("toggle-more");
const CALENDAR_CONTROLS_BOT = document.getElementById("calendar-controls-bot");
const SELECT_SERVER = document.getElementById("select-server");
const INPUT_FIGHT = document.getElementById("input-fight");
const INPUT_PLAYER = document.getElementById("input-player");
const INPUT_AUTHOR = document.getElementById("input-author");

const CURRENT_QUERY = new URLSearchParams(window.location.search);
INPUT_FIGHT.value = CURRENT_QUERY.get("fight");
INPUT_PLAYER.value = CURRENT_QUERY.get("player");
INPUT_AUTHOR.value = CURRENT_QUERY.get("author");

const CURRENT_DATE = new Date();
const YEAR_REQUEST = parseInt(CURRENT_QUERY.get("year") ?? CURRENT_DATE.getFullYear());
const MONTH_REQUEST = parseInt(CURRENT_QUERY.get("month") ?? CURRENT_DATE.getMonth());
const MONTH_PREV = (MONTH_REQUEST + 11) % 12;
const MONTH_NEXT = (MONTH_REQUEST + 1) % 12;
const YEAR_NEXT = MONTH_REQUEST == 11 ? YEAR_REQUEST+1 : YEAR_REQUEST;
const YEAR_PREV = MONTH_REQUEST == 0 ? YEAR_REQUEST-1 : YEAR_REQUEST;

if (YEAR_PREV >= SELECT_YEAR.firstElementChild.value) {
  CURRENT_QUERY.set("month", MONTH_PREV);
  CURRENT_QUERY.set("year", YEAR_PREV);
  const MONTH_PREV_A = document.getElementById("month-prev");
  MONTH_PREV_A.href = `?${CURRENT_QUERY}`;
}

if (YEAR_NEXT <= SELECT_YEAR.lastElementChild.value) {
  CURRENT_QUERY.set("month", MONTH_NEXT);
  CURRENT_QUERY.set("year", YEAR_NEXT);
  const MONTH_NEXT_A = document.getElementById("month-next");
  MONTH_NEXT_A.href = `?${CURRENT_QUERY}`;
}

function new_request() {
  const query_obj = {
    month: SELECT_MONTH.value,
    year: SELECT_YEAR.value,
    author: INPUT_AUTHOR.value,
    server: SELECT_SERVER.value,
    player: INPUT_PLAYER.value,
    fight: INPUT_FIGHT.value,
  };
  for (const key in query_obj) {
    if (!query_obj[key]) delete query_obj[key];
  }
  const query = new URLSearchParams(query_obj);
  window.location.replace(`?${query}`);
}

INPUT_FIGHT.addEventListener("keypress", event => event.key == "Enter" && new_request());
INPUT_PLAYER.addEventListener("keypress", event => event.key == "Enter" && new_request());
INPUT_AUTHOR.addEventListener("keypress", event => event.key == "Enter" && new_request());
SELECT_SERVER.addEventListener("input", new_request);
SELECT_YEAR.addEventListener("input", new_request);
SELECT_MONTH.addEventListener("input", new_request);
TOGGLE_MORE.addEventListener("click", () => {
  const is_shown = CALENDAR_CONTROLS_BOT.style.display == "block";
  CALENDAR_CONTROLS_BOT.style.display = is_shown ? "none" : "block";
});
})();
</script>
{% endblock the_scripts %}
