{% extends "layout_report.html" %}

{% block head_after %}
<style>
  {{ customstyle }}
</style>
{% endblock head_after %}

{% block main1 %}
<div id="player">

  <input id="one" name="player-group" type="radio" checked="checked">
  <label id="one-tab" class="tab" for="one">DAMAGE</label>
  <input id="two" name="player-group" type="radio">
  <label id="two-tab" class="tab" for="two">HEAL</label>
  <input id="three" name="player-group" type="radio">
  <label id="three-tab" class="tab" for="three">BUFFS</label>
  <input id="four" name="player-group" type="radio">
  <label id="four-tab" class="tab" for="four">DEBUFFS</label>
  <input id="five" name="player-group" type="radio">
  <label id="five-tab" class="tab" for="five">CASTS</label>


  <div id="one-panel" class="panel">
    <table>
      <tr>
        <th>Spell Name</th>
        <th>%</th>
        <th>Total</th>
      </tr>
      {% for value, p, spell_name in damage %}
      <tr>
        <td class="spell-name"><a href="" class="{{ spell_colors[spell_name] }}">{{ spell_name }}</td>
        <td class="percentage-cell">{{ p }}</td>
        <td class="total-cell">{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div id="two-panel" class="panel">
    <table>
      <tr>
        <th>Spell Name</th>
        <th>%</th>
        <th>Total</th>
      </tr>
      {% for value, p, spell_name in heal %}
      <tr>
        <td class="spell-name {{ spell_colors[spell_name] }}">{{ spell_name }}</td>
        <td class="percentage-cell">{{ p }}</td>
        <td class="total-cell">{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div id="three-panel" class="panel">
    <table>
      {% for spell_name, timings in buffs.items() %}
      <tr>
        <td class="spell-name {{ spell_colors[spell_name] }}">{{ spell_name }}</td>
        <td class="uppestoftime">
          {% for t, l in timings %}
          {% if t %}
          <div class="rectangle" style="width: {{ l }}%; background-color: rgb(112, 128, 144);"></div>
          {% else %}
          <div class="rectangle" style="width: {{ l }}%;"></div>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div id="four-panel" class="panel">
    <table>
    {% for spell_name, timings in debuffs.items() %}
    <tr>
      <td class="spell-name {{ spell_colors[spell_name] }}">{{ spell_name }}</td>
      <td class="uppestoftime">
        {% for t, l in timings %}
        {% if t %}
        <div class="rectangle" style="width: {{ l }}%; background-color: rgb(112, 128, 144);"></div>
        {% else %}
        <div class="rectangle" style="width: {{ l }}%;"></div>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div id="five-panel" class="panel">
    {% for name, color, name_css in checkboxes %}
    <input type="checkbox" class="target-checkbox" id="tar-{{ name_css }}" checked>
    <label class="target-checkbox-label" for="tar-{{ name_css }}" style="--hue-rect:{{ color }}">{{ name }}</label>
    {% endfor %}
    <table class="target-table">
      {% for spell_name in spells %}
      <tr>
        <td class="spell-name  {{ spell_colors[spell_name] }}">{{ spell_name }}</td>
        <td>
          {% for guid, color, zindex, name_css in intable %}
          <div class="tar-{{ name_css }}" style="z-index:{{ zindex }}">
            {% for uptime in casts[guid]["spells"].get(spell_name, []) %}
            <div class="target-uptime">
              {% for t, perc in uptime %}
              {% if t %}
              <div class="rectangle" style="width: {{ perc }}%; --hue-rect:{{ color }}"></div>
              {% else %}
              <div class="rectangle" style="width: {{ perc }}%;"></div>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock main1 %}