{% extends "layout_report.html" %}

{% block add_style %}
<style>
#player section {
  display: none;
}

#player #buffs:checked ~ #buffs-panel,
#player #debuffs:checked ~ #debuffs-panel,
#player #casts:checked ~ #casts-panel {
  display: block;
}

#player label {
  margin: 0 0;
  width: 4em;
  text-align: center;
  padding: .2rem 1.5rem;
  background: var(--background);
  position: fixed;
  bottom: 4.5vh;
  left: 0;
}

#player td:nth-child(2) {
  min-width: 6ch;
  text-align: right;
}

#player label ~ label {
  margin-left: 7rem;
}

#player label ~ label  ~ label {
  margin-left: 14rem;
}
</style>
{% endblock add_style %}


{% block the_main %}
<main id="player">
  <a class="swap-button" id="swap-buffs" href="/reports/{{ REPORT_ID }}/player/{{ SOURCE_NAME }}/{{ QUERY }}">DAMAGE</a>

  <input id="buffs" name="player-group" type="radio">
  <label class="tab" for="buffs">BUFFS</label>

  <input id="debuffs" name="player-group" type="radio">
  <label class="tab" for="debuffs">DEBUFFS</label>

  <input id="casts" name="player-group" type="radio">
  <label class="tab" for="casts">CASTS</label>

  <section id="buffs-panel">
    <table>
      <thead>
        <tr>
          <th>AURA</th>
          <th>%</th>
          <th>UPTIME</th>
        </tr>
      </thead>
      <tbody>
        {% for spell_id, timings in BUFFS.items() %}
        <tr>
          <td class="spell-name">
            <a class="{{ COLORS[spell_id] }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ ALL_SPELLS[spell_id]['name'] }}</a>
          </td>
          <td>{{ BUFF_UPTIME[spell_id] }}</td>
          <td class="uppestoftime">
            {% for t, l in timings %}
            <div class="rectangle{% if t %} gray{% endif %}" style="width: {{ l }}%;"></div>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section id="debuffs-panel">
    <table>
      <thead>
        <tr>
          <th>AURA</th>
          <th>%</th>
          <th>UPTIME</th>
        </tr>
      </thead>
      <tbody>
        {% for spell_id, timings in DEBUFFS.items() %}
        <tr>
          <td class="spell-name">
            <a class="{{ COLORS[spell_id] }}" href="/reports/{{ REPORT_ID }}/spell/{{ spell_id }}/{{ QUERY }}">{{ ALL_SPELLS[spell_id]['name'] }}</a>
          </td>
          <td>{{ DEBUFF_UPTIME[spell_id] }}</td>
          <td class="uppestoftime">
            {% for t, l in timings %}
            <div class="rectangle{% if t %} gray{% endif %}" style="width: {{ l }}%;"></div>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section id="casts-panel"></section>

  <aside id="aura-controls" style="display: none;">
    <button id="aura-top">🡅</button>
    <button id="aura-up">▲</button>
    <button id="aura-down">▼</button>
  </aside>

</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  document.querySelectorAll('tbody').forEach(tbody => {
    Array.from(tbody.rows)
         .sort((a, b) => b.children[0].innerText < a.children[0].innerText)
         .forEach(tr => tbody.appendChild(tr));
  });
  
  <!-- document.querySelectorAll(".rectangle").forEach(div => {conosole.log('123')}); -->

  const auraControls = document.getElementById("aura-controls");
  document.querySelectorAll(".spell-name").forEach(td => {
    td.addEventListener('mouseover', () => {
      td.appendChild(auraControls);
      auraControls.style.display = "";
    });
    td.addEventListener("mouseleave", () => {
      auraControls.style.display = "none";
    });
  });

  const auraTOP = document.getElementById("aura-top");
  auraTOP.addEventListener("click", () => {
    const tr = auraControls.parentNode.parentNode;
    const tbody = tr.parentNode;
    tbody.insertBefore(tr, tbody.children[0]);
  });

  const auraUP = document.getElementById("aura-up");
  auraUP.addEventListener("click", () => {
    const tr = auraControls.parentNode.parentNode;
    const tbody = tr.parentNode;
    tbody.insertBefore(tr, tbody.children[Math.max(tr.rowIndex - 2, 0)]);
  });

  const auraDOWN = document.getElementById("aura-down");
  auraDOWN.addEventListener("click", () => {
    const tr = auraControls.parentNode.parentNode;
    const tbody = tr.parentNode;
    tbody.insertBefore(tr, tbody.children[tr.rowIndex + 1]);
  });


</script>
{% endblock the_scripts %}