{% extends "layout_report.html" %}

{% block add_style %}
<style>
#powers label {
  margin: 0;
  width: 5rem;
  text-align: center;
  padding: .25rem 1rem;
  background: var(--background);
  position: fixed;
  bottom: var(--bottom-row-one);
  left: 0;
  text-transform: uppercase;
  margin-left: calc(var(--margin) * 7rem);
  z-index: 5;
}
#powers td {
  text-align: right;
  min-width: 9ch;
}
#powers .player-cell {
  text-align: left;
}
tfoot td {
  border-top: .2em solid var(--primary-color);
}
section {
  display: none;
}
input:checked + label + section {
  display: block;
}
#mana:checked + label {color: mediumturquoise;}
#rage:checked + label {color: orangered;}
#energy:checked + label {color: gold;}
#runic:checked + label {color: crimson;}
#focus:checked + label {color: limegreen;}
#happiness:checked + label {color: chartreuse;}
#runes:checked + label {color: darkmagenta;}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="powers">
  {% for power_index, power_name in LABELS %}
  <input id="{{ power_name }}" name="powers-group" type="radio">
  <label class="tab" for="{{ power_name }}" style="--margin: {{ power_index }};">{{ power_name }}</label>

  <section id="panel-{{ power_name }}" class="table-wrap table-damage">
    <div>
      <table>
        <thead>
          <tr>
            <th class="player-cell">.</th>
            <th class="total">TOTAL</th>
            {% for spell_id, spell_info in SPELLS[power_name].items() %}
            <th title="{{ spell_info['name'] }}"><img src="/static/icons/{{ spell_info['icon'] }}.jpg" alt="{{ spell_id }}"></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for player_name, power_data in POWERS[power_name].items() %}
          <tr>
            <td class="player-cell">
              <a class="{{ PLAYER_CLASSES[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
            </td>
            <td>{{ TOTAL[power_name][player_name] }}</td>
            {% for spell_id in SPELLS[power_name] %}
            <td>{{ power_data.get(spell_id, '') }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="player-cell">Total</td>
            <td></td>
            {% for spell_id, spell_info in SPELLS[power_name].items() %}
            <td>{{ spell_info['value'] }}</td>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  {% endfor %}
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
  const getCellValue = (tr, idx) => tr.children[idx].innerText.replace(/ /g, '');
  const comparer = idx => (a, b) => getCellValue(b, idx) - getCellValue(a, idx);

  function sort(th) {
    const tbody = th.closest('table').querySelector('tbody');
    Array.from(tbody.querySelectorAll('tr'))
         .sort(comparer(th.cellIndex))
         .forEach(tr => tbody.appendChild(tr));
  }

  document.querySelectorAll('th:nth-child(n+2)').forEach(th => th.addEventListener('click', () => sort(th)));
  document.querySelectorAll('.total').forEach(th => sort(th));
</script>
{% endblock the_scripts %}