{% extends "layout.html" %}
{% block scripts_head %}
<script src="/static/pve_stats.js" async defer></script>
{% endblock scripts_head %}
{% block add_css_file %}
<link rel="stylesheet" type="text/css" href="/static/pve_stats.css">
{% endblock add_css_file %}

{% block the_main %}
<main>
  <section id="controls">
    <select id="select-server">
      {% for server in SERVERS %}
      <option value="{{ server }}">{{ server }}</option>
      {% endfor %}
    </select>
    <select id="select-instance">
    </select>
    <select id="select-boss">
    </select>
    <select id="select-mode">
      <option value="25">25</option>
      <option value="10">10</option>
    </select>
    <input id="difficulty-checkbox" type="checkbox" checked>
    <label id="difficulty-label" for="difficulty-checkbox">Heroic</label>
    <button id="submit-button" type="submit">Submit</button>
  </section>
	<section id="stats-section">
    <div id="table-wrap">
      <div id="chart-timeline"></div>
      <table>
        <tbody id="stats-tbody">
          {% for spec_info in SPECS_BASE %}
          <tr class="stats-cell-row {{ spec_info['class_html'] }}" id="{{ spec_info['spec_html'] }}" data-class="{{ spec_info['class_name'] }}" data-spec="{{ spec_info['spec_name'] }}">
            <td class="stats-cell-name" title="{{ spec_info['class_name'] }}"><img src="/static/icons/{{ spec_info['icon'] }}.jpg">{{ spec_info['spec_name'] }}</td>
            <td class="stats-cell-data"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="table-sort">
      <span>Sort by:</span>
      <button class="top50"><span></span>50%</button>
      <button class="top75"><span></span>75%</button>
      <button class="top90"><span></span>90%</button>
      <button class="top95"><span></span>95%</button>
      <button class="top99"><span></span>99%</button>
      <button class="top100">👑 Top 1</button>
    </div>
	</section>
  <aside id="the-tooltip" style="display: none;">
    <table>
      <thead>
        <tr><td colspan="3" id="tooltip-spec-info"></td></tr>
        <tr class="column-names"><td></td><td>Raids</td><td>DPS</td></tr>
      </thead>
      <tbody id="tooltip-body">
        <tr class="top100"><td>Top 1:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top99"><td>Top 1%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top95"><td>Top 5%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top90"><td>Top 10%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top75"><td>Top 25%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top50"><td>Top 50%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="top10"><td>Low 10%:</td><td class="npoints"></td><td class="percentile"></td></tr>
        <tr class="all"><td>Total:</td><td class="npoints"></td><td class="percentile"></td></tr>
      </tbody>
    </table>
  </aside>
</main>
{% endblock the_main %}
