{% extends "layout_report.html" %}

{% block the_main %}
<main id="spells">
<section>
  <h1><a href="https://wotlk.evowow.com/?spell={{ SPELL_ID }}">{{ SPELL_NAME }}</a></h1>
  
  {% for name_css, flag in TABS %}
  <input id="{{ name_css }}" name="flags-group" type="radio">
  <label class="tab" for="{{ name_css }}">{{ flag }}</label>
  <div class="panel">
    <section>
      {% for type_, v in SPELLS[flag].items() %}
      <table class="buffs">
        <caption>{{ type_ }}</caption>
        {% for player_name, total in v.items() %}
        <tr>
          <td class="boss-cell">
            <a class="{{ CLASS_DATA[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
          </td>
          <td class="buff-count">{{ total }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </section>
  </div>
  {% endfor %}
</section>
</main>
{% endblock the_main %}
