{% extends "layout.html" %}


{% block the_main %}
<main>
  <div id="spells">
    <input id="one" name="buffs-group" type="radio" checked="checked">
    <label class="tab" id="one-tab" for="one">SPELL_CAST_SUCCESS</label>
    
    <div id="one-panel" class="panel">
      {% for type_, v in data.get('SPELL_CAST_SUCCESS', {}).items() %}
      <table class="buffs">
        <th colspan="2">{{ type_ }}</th>
        <tr>
          <th>Name</td>
          <th>Count</td>
        </tr>
        {% for name, c in v.items() %}
        <tr>
          <td class="{{ class_data[name] }}">{{ name }}</td>
          <td class="buff-count">{{ c }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>


    <input id="two" class="radio" name="buffs-group" type="radio">
    <label class="tab" id="two-tab" for="two">SPELL_AURA_APPLIED</label>
    <div class="panel" id="two-panel">
      {% for type_, v in data.get('SPELL_AURA_APPLIED', {}).items() %}
      <table class="buffs">
        <th colspan="2">{{ type_ }}</th>
        <tr>
          <th>Name</td>
          <th>Count</td>
        </tr>
        {% for name, c in v.items() %}
        <tr>
          <td class="{{ class_data[name] }}">{{ name }}</td>
          <td class="buff-count">{{ c }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
    <input id="three" class="radio" name="buffs-group" type="radio">
    <label class="tab" id="three-tab" for="three">SPELL_AURA_REMOVED</label>
    <div class="panel" id="three-panel">
      {% for type_, v in data.get('SPELL_AURA_REMOVED', {}).items() %}
      <table class="buffs">
        <th colspan="2">{{ type_ }}</th>
        <tr>
          <th>Name</td>
          <th>Count</td>
        </tr>
        {% for name, c in v.items() %}
        <tr>
          <td class="{{ class_data[name] }}">{{ name }}</td>
          <td class="buff-count">{{ c }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>

  </div>
</main>
{% endblock the_main %}