{% extends "layout.html" %}

{% block the_main %}
<main id="ladder">
  <section id="controls">
    <select id="instance"></select>
    <select id="boss"></select>
    <input type="checkbox" id="combine-guilds" checked>
    <label for="combine-guilds">Combine</label>
    <select id="size">
      <option>10</option>
      <option>25</option>
    </select>
    <input type="checkbox" id="difficulty" checked>
    <label for="difficulty">Heroic</label>
    <!-- <button type="submit" id="submit">Look up</button> -->
  </section>
  <section id="table-section">
    <table>
      <tr>
        <th>Rank</th>
        <th>Guild</th>
        <th>Len</th>
        <th><abbr title="Wipes"><span>W<span></abbr></th>
        <th>Date</th>
        <th>Link</th>
      </tr>
      {% for n, data in q %}
      <tr>
        <td>{{ n }}</td>
        <td class="guild-cell">{{ data["guild"] }}</td>
        <td>{{ data["duration"] }}</td>
        <td>{{ data["attempts"] }}</td>
        <td>{{ data["date"] }}</td>
        <td><a href="http://armory.warmane.com/pveladder/Lordaeron/details/{{ data['REPORT_ID'] }}" rel="external" target="_blank">{{ data['REPORT_ID'] }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </section>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script src="/static/ladder.js"></script>
{% endblock the_scripts %}
