{% extends "layout.html" %}

{% block add_style %}
<style>
img {
	min-height: 1em;
	max-height: 1em;
	min-width: 1em;
	max-width: 1em;
	vertical-align: middle;
	margin-bottom: 1px;
  margin-left: .5em;
}
section > div {
  --left-column: 9rem;
  position: relative;
}
@media (orientation: landscape) {
  section > div {
    margin-inline: 10rem;
  }
}
table {
  width: 100%;
}
.stats-cell-name {
  min-width: var(--left-column);
  width: var(--left-column);
  max-width: var(--left-column);
  color: inherit;
}
.stats-cell-data {
  position: relative;
  vertical-align: middle;
  margin-top: auto; 
  margin-top: auto; 
  color: inherit;
}
.stats-cell-data div {
  width: .2em;
	height: 1em;
	position: absolute;
  bottom: 0;
  z-index: 2;
}
.passthrudiv,
.max,
.p10 {
  color: inherit;
  background-color: currentColor; 
}
.p75 {
  background-color: lime;
}
.p50 {
  background-color: orange;
}
.stats-cell-data :is(.p10, .max) {
  height: .5rem;
  transform: translate(0, -50%);
}
.stats-cell-data .passthrudiv {
  height: .2em;
  transform: translate(0, -200%);
}

#chart-timeline-wrap {
  position: absolute;
  left: var(--left-column);
  top: 0;
  right: 0;
  bottom: 0;
}
.chart-column {
  position: absolute;
  width: .1em;
  left: 1%;
  top: 0;
  bottom: 0;
  background-color: var(--table-border);
  z-index: 1;
}
.chart-column::after {
	content: attr(data-dps);
	position: fixed;
	transform: translate(-40%, -100%);
}
@media (orientation: portrait) {
  .chart-column:nth-child(even):after {
    visibility: hidden;
  }
}

#table-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#table-info span {
  font-size: 75%;
}
span span {
  display: inline-block;
  height: 1em;
  width: 1em;
}

#stats-section {
  margin-top: 2rem;
}
#select-boss {
  min-width: 26ch;
}
#controls > * {
  font-size: 150%;
}

#the-tooltip {
  width: fit-content;
  color: #fff;
  background-color: var(--background);
  padding: .5em;
  border-radius: 6px;
  box-shadow: inset 0 0 .25rem .1rem var(--primary-color), 0 0 .5rem .1rem var(--primary-color);

  position: absolute;
  z-index: 5;
}
#the-tooltip p {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#select-server {grid-area: serv;}
#select-instance {grid-area: inst;}
#select-boss {grid-area: boss;}
#select-mode {grid-area: size;}
#difficulty-label {grid-area: diff;}
#submit-button {grid-area: subm;}
#controls {
  display: grid;
  grid-template-areas:
  'inst inst inst inst inst inst'
  'boss boss boss boss boss boss'
  'serv serv size diff subm subm';
  gap: .5rem;
}
@media (orientation: landscape) {
  #controls {
    margin-inline: 10rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 10rem;
  }
}
</style>
{% endblock add_style %}

{% block the_main %}
<main>
  <section id="controls">
    <select id="select-server">
      {% for server in SERVERS %}
      <option value="{{ server }}">{{ server }}</option>
      {% endfor %}
    </select>
    <select id="select-instance">
    </select>
    <select id="select-boss">
    </select>
    <select id="select-mode">
      <option value="25">25</option>
      <option value="10">10</option>
    </select>
    <input id="difficulty-checkbox" type="checkbox" checked>
    <label id="difficulty-label" for="difficulty-checkbox">Heroic</label>
    <button id="submit-button" type="submit">Submit</button>
  </section>
	<section id="stats-section">
    <div>
      <div id="chart-timeline-wrap"></div>
      <table>
        <tbody id="stats-tbody">
          {% for _class, _class_html, spec, spec_html, icon in SPECS_BASE %}
          <tr class="stats-cell-row {{ _class_html }}" id="{{ spec_html }}" data-class="{{ _class }}" data-spec="{{ spec }}">
            <td class="stats-cell-name" title="{{ _class }}"><img src="https://wotlk.evowow.com/static/images/wow/icons/large/{{ icon }}.jpg">{{ spec }}</td>
            <td class="stats-cell-data"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="table-info">
      <span>|——Bottom 50%——</span>
      <span><span class="p50"></span>50-75 percentile</span>
      <span><span class="p75"></span>75-99 percentile</span>
      <span>———Top 1%———|</span>
    </div>
	</section>
  <aside id="the-tooltip" style="display: none;">
    <p><img></p>
    <p>Top 1:<span></span></p>
    <p>Top 1%:<span></span></p>
    <p>Top 25%:<span></span></p>
    <p>Top 50%:<span></span></p>
    <p>Low 10%:<span></span></p>
  </aside>
</main>
{% endblock the_main %}

{% block the_scripts %}
<script>
const BOSSES = {
  "Icecrown Citadel": [
    "The Lich King",
    "Lord Marrowgar", "Lady Deathwhisper", "Deathbringer Saurfang",
    "Festergut", "Rotface", "Professor Putricide",
    "Blood Prince Council", "Blood-Queen Lana'thel",
    "Sindragosa"
  ],
  "The Ruby Sanctum": ["Halion", "Baltharus the Warborn", "Saviana Ragefire", "General Zarithrian"],
  "Trial of the Crusader": ["Anub'arak", "Northrend Beasts", "Lord Jaraxxus", "Faction Champions", "Twin Val'kyr"],
  "Ulduar": [
    "Flame Leviathan", "Ignis the Furnace Master", "Razorscale", "XT-002 Deconstructor",
    "Assembly of Iron", "Kologarn", "Auriaya", "Hodir", "Thorim", "Freya", "Mimiron",
    "General Vezax", "Yogg-Saron", "Algalon the Observer"
  ],
  "Naxxramas": [
    "Anub'Rekhan", "Grand Widow Faerlina", "Maexxna", "Noth the Plaguebringer", "Heigan the Unclean",
    "Loatheb", "Patchwerk", "Grobbulus", "Gluth", "Thaddius", "Instructor Razuvious", "Gothik the Harvester",
    "The Four Horsemen", "Sapphiron", "Kel'Thuzad"
  ],
  "Vault of Archavon": ["Toravon the Ice Watcher", "Archavon the Stone Watcher", "Emalon the Storm Watcher", "Koralon the Flame Watcher"],
  "Onyxia's Lair": ["Onyxia"],
  "The Eye of Eternity": ["Malygos"],
  "The Obsidian Sanctum": ["Sartharion"],
};
const DATA_KEYS = ["max", "p99", "p75", "p50", "p10"];
const serverSelect = document.getElementById("select-server");
const instanceSelect = document.getElementById("select-instance");
const bossSelect = document.getElementById("select-boss");
const sizeSelect = document.getElementById("select-mode");
const difficultyCheckbox = document.getElementById("difficulty-checkbox");
const submitButton = document.getElementById("submit-button");
const theTooltip = document.getElementById("the-tooltip");
const INTERACTABLES = {
  server: serverSelect,
  raid: instanceSelect,
  boss: bossSelect,
  size: sizeSelect,
}
function newOption(value, index) {
  const _option = document.createElement('option');
  _option.value = index === undefined ? value : index;
  _option.innerHTML = value;
  return _option
}

function addBosses() {
  bossSelect.innerHTML = "";
  BOSSES[instanceSelect.value].forEach(boss_name => bossSelect.appendChild(newOption(boss_name)));
};
instanceSelect.addEventListener('change', addBosses);

function makeQuery() {
  const sizeValue = sizeSelect.value;
  const diffValue = difficultyCheckbox.checked ? 'H' : 'N';
  const diff_str = `${sizeValue}${diffValue}`;
  const q = {
    server: serverSelect.value,
    boss: bossSelect.value,
    diff: diff_str,
  };
  return JSON.stringify(q);
}

const CACHE = {};

function tableAddNewData(data) {
  let max_v = 0;
  for (let classname in data) {
    const cur_max = data[classname].max;
    if (cur_max > max_v) max_v = cur_max;
  }
  maxvalue = Math.ceil((max_v+500)/1000)*1000;
  
  const rows = Array.from(statsTableBody.querySelectorAll("tr"));
  for (let tr of rows) {
    update_row(tr, data[tr.id]);
  }
  chartTimeline.innerHTML = "";
  for (let i of Array(Math.ceil(maxvalue/dps_jump)).keys()) {
    new_dps_line(i)
  }

  rows.sort((a, b) => b.getAttribute("data-sort") > a.getAttribute("data-sort"))
      .forEach(row => statsTableBody.appendChild(row));
}

function queryServer(query) {
  xrequest.open("POST", '');
  xrequest.setRequestHeader("Content-Type", "application/json");
  xrequest.send(query);
}

function fetchData() {
  const query = makeQuery();
  const data = CACHE[query];
  data ? tableAddNewData(data) : queryServer(query);
}

function searchChanged() {
  const __diff = difficultyCheckbox.checked ? 'H' : "N";
  const title = `UwU Logs - Top - ${bossSelect.value} - ${sizeSelect.value}${__diff}`;
  document.title = title;

  const parsed = {
    server: serverSelect.value,
    raid: instanceSelect.value,
    boss: bossSelect.value,
    size: sizeSelect.value,
    mode: difficultyCheckbox.checked ? 1 : 0,
  };

  const new_params = new URLSearchParams(parsed).toString();
  const url = `?${new_params}`;
  history.pushState(parsed, title, url);

  fetchData();
}

submitButton.addEventListener("click", searchChanged)



const chartTimeline = document.getElementById("chart-timeline-wrap");
const statsTableBody = document.getElementById("stats-tbody");
const xrequest = new XMLHttpRequest();

let maxvalue = 20000;
const dps_jump = 2500;

const to_width_percent = v => `${v}%`;

function new_dps_line(v) {
  const line = document.createElement("div");
  line.className = "chart-column";
  line.style.left = to_width_percent(v*dps_jump/maxvalue*100);
  line.setAttribute("data-dps", v*dps_jump);
  chartTimeline.appendChild(line);
}

function new_div(classname, pos) {
  const div = document.createElement("div");
  div.className = classname;
  div.style.left = to_width_percent(pos);
  return div;
}

function update_row(row, data) {
  const cell = row.querySelector(".stats-cell-data");
  cell.innerHTML = "";
  if (!data) {
    row.setAttribute("data-sort", 0);
    return;
  }
  row.setAttribute("data-sort", data.p99/100000);
  
  let _values = {};
  for (let x of DATA_KEYS) {
    row.setAttribute(`data-${x}`, Math.round(data[x]));

    const _pos = data[x]/maxvalue*100
    const _div = new_div(x, _pos);
    if (x == "p75") {
      _div.style.width = to_width_percent(_values["p99"] - _pos);
    } else if (x == "p50") {
      _div.style.width = to_width_percent(_values["p75"] - _pos);
    }
    cell.appendChild(_div);
    _values[x] = _pos;
  }
  const passthrudiv = new_div("passthrudiv", _values["p10"]);
  
  passthrudiv.style.width = to_width_percent(_values["max"] - _values["p10"]);
  cell.insertBefore(passthrudiv, cell.children[0]);
}

xrequest.onreadystatechange = () => {
  if (xrequest.status != 200 || xrequest.readyState != 4) return;
  const data = JSON.parse(xrequest.response)
  const query = makeQuery();
  CACHE[query] = data;
  tableAddNewData(data);
}

function add_tooltip_info(tr) {
  const first_row = theTooltip.children[0]
  first_row.innerHTML = "";
  first_row.appendChild(tr.querySelector("img").cloneNode());
  first_row.innerHTML += `${tr.getAttribute("data-spec")} ${tr.getAttribute("data-class")}`;

  for (let i=0; i < DATA_KEYS.length; i++) {
    const attr_name = DATA_KEYS[i]
    theTooltip.children[i+1].querySelector("span").innerText = tr.getAttribute(`data-${attr_name}`);
  }
}
function move_tooltip_to(tr) {
  const first_child = tr.querySelector(".stats-cell-data > div");
  if (!first_child) return;

  const bodyRect = document.body.getBoundingClientRect();
  const elemRect = first_child.getBoundingClientRect();
  theTooltip.style.top = elemRect.bottom - bodyRect.top + 'px';
  theTooltip.style.right = bodyRect.right - elemRect.left + 'px';
  theTooltip.style.display = "";
}
function add_tooltip_events() {
  document.querySelectorAll(".stats-cell-row").forEach(tr => {
    tr.addEventListener("mouseleave", () => theTooltip.style.display = "none");
    tr.addEventListener("mouseenter", () => {
      add_tooltip_info(tr);
      move_tooltip_to(tr);
    });
  })
}


function init() {
  function isValidParam(elm, par) {
    return [...elm.options].map(o => o.value).includes(par);
  }
  
  function findValueIndex(select, option_name) {
    for (let i=0; i < select.childElementCount; i++) {
      if (select[i].innerText == option_name) return i;
    }
  }
  Object.keys(BOSSES).forEach(name => instanceSelect.appendChild(newOption(name)));

  const currentParams = new URLSearchParams(window.location.search);
  difficultyCheckbox.checked = currentParams.get("mode") != 0;

  for (let key in INTERACTABLES) {
    const par = currentParams.get(key);
    const elm = INTERACTABLES[key];
    if (isValidParam(elm, par)) {
      elm.value = par;
    } else if (elm == serverSelect) {
      elm.selectedIndex = findValueIndex(elm, "Lordaeron");
    } else {
      elm.selectedIndex = 0;
    }

    if (elm == instanceSelect) {
      addBosses();
    }
  }

  add_tooltip_events();
  fetchData();
}

window.addEventListener('DOMContentLoaded', init);
</script>
{% endblock the_scripts %}
