<table class="spellDetailsTable">
<tbody><tr>
<th>Actor</th>
<th colspan="2">Totals</th>
<th colspan="4" title="Count, Average (incl overhealing), Effective, Overhealing %">Ticks</th>
</tr>
<tr>
<td class="name"><a href="/reports/2uqetpg1dyk14isr/details/5/" class="actor"><span class="Paladin">Pov</span></a></td>
<td>429772</td>
<td>32.6 %</td>
<td>2587</td>
<td>445.4</td>
<td>429772</td>
<td>62.7 %</td>
</tr>
<tr>
<td class="name"><a href="/reports/2uqetpg1dyk14isr/details/35/" class="actor"><span class="Priest">Shadowmight</span></a></td>
<td>314519</td>
<td>23.9 %</td>
<td>1310</td>
<td>440.0</td>
<td>314519</td>
<td>45.4 %</td>
</tr>
<tr>
<td class="name"><a href="/reports/2uqetpg1dyk14isr/details/6/" class="actor"><span class="Shaman">Kisi</span></a></td>
<td>303238</td>
<td>23.0 %</td>
<td>1834</td>
<td>470.4</td>
<td>303238</td>
<td>64.9 %</td>
</tr>
<tr>
<td class="name"><a href="/reports/2uqetpg1dyk14isr/details/4/" class="actor"><span class="Shaman">Bluehood</span></a></td>
<td>268840</td>
<td>20.4 %</td>
<td>1874</td>
<td>470.8</td>
<td>268840</td>
<td>69.5 %</td>
</tr>
<tr class="summary">
<td></td>
<td>1316369</td>
<td>100.0 %</td>
<td>7605</td>
<td>456.8</td>
<td>1316369</td>
<td>62.1 %</td>
</tr>
</tbody></table>