{% extends "layout.html" %}

{% block add_style %}
<style>
img {
  max-width: 100%;
}
@media (orientation: landscape) {
  #upload-section {
    font-size: 125%;
  }
  #upload-section #upload-form-submit {
    font-size: 125%;
  }
}
#upload-section form * {
  font-size: inherit;
}
#server-select input {
  font-size: inherit;
}
.upload {
  display: grid;
  justify-content: center;
}
#upload-error {
  font-size: 200%;
  margin-top: 1rem;
  color: crimson;
}
#upload-status {
  font-size: 200%;
  min-width: 30ch;
  width: fit-content;
}
.upload h2 {
  font-size: 300%;
}
@media (orientation: portrait) {
  .upload h2 {
    font-size: 200%;
  }
}
.upload td {
  padding-inline: 1em;
}
.upload span {
  text-shadow: .1em .1em 1em var(--secondary-color);
}
#server-input {
  width: 100%;
}
.col-report {
  width: 20em;
}
.col-status {
  width: 10em;
}
.important {
  color: crimson;
}
.warning {
  color: goldenrod;
}
</style>
{% endblock add_style %}

{% block scripts_head %}
<script defer src="/static/upload.js"></script>
{% endblock scripts_head %}

{% block the_main %}
<main>
<section id="upload-section" class="upload">
  <h2>Upload new file</h2>
  <form method="post" enctype="multipart/form-data">
    <input id="upload-form-select" type="file" name="file">
    <button id="upload-form-submit" type="button">Upload File</button>
  </form>
  <div id="server-select">
    <input id="server-input" type="text" placeholder="Optional: Type here any server name (if not Warmane)" list="server-list">
    <p>Just the server/realm name, don't add date, raid name</p>
    <datalist id="server-list">
      {% for server in SERVERS %}
      <option value="{{ server }}"></option>
      {% endfor %}
      <option value="Algalon"></option>
      <option value="ChromieCraft"></option>
      <option value="Crystalsong"></option>
      <option value="Frosthold"></option>
      <option value="Sindragosa"></option>
      <option value="Rising Gods"></option>
      <option value="WoW Circle"></option>
    </datalist>
  </div>
</section>
<section id="upload-info" class="upload">
  <h2>How to start logging</h2>
  <ul>
    <li>0. Make sure WoW folder isn't read-only</li>
    <li>1. Type <span>/combatlog</span> in game (before anything happens, not after)</li>
    <li>- You have to do this every time after relog/reload/crash</li>
    <li>- Use <a href="https://wago.io/9Okfx9zrS" target="_blank">weakauras</a> instead to never forget to start logging</li>
    <li>- You can even <span>/reload</span> mid pull with this wa and it'll continue logging</li>
    <li>2. Find logs file in game's folder: <span>WoW/Logs/WoWCombatLog.txt</span></li>
    <li>3. Archive it (supports every archive format now)</li>
    <li class="warning">- Don't upload your mom's onlyfans photos.</li>
    <li class="warning">- Don't put archive into archive.</li>
    <li class="warning">- Preferably archive only <span>.txt</span> file without any folders to prevent bugs.</li>
    <li class="important">- Don't rename text files to .zip/.7z/etc., create archives from 0.</li>
    <li>4. Upload the archive above</li>
  </ul>
  <h2>Additional info</h2>
  <ul>
    <li>3.3.5 Combatlog is logged into the same file always</li>
    <li class="warning">After upload, delete/move/rename <span>WoWCombatLog.txt</span> to keep it fresh</li>
    <li class="important">Don't let log file exceed 4GB, it will be rewritten in a weird way</li>
    <li>Top is updated every minute for perfomance reasons</li>
    <li>Use <a href="https://www.7-zip.org/" target="_blank">7zip</a> with <a href="https://i.imgur.com/0xznLXP.png" target="_blank">PPMd</a> compression for lower archiving time and file size</li>
    <li>
      <table>
        <tr style="text-align: center;">
          <th>1GB Logs</th>
          <th>Speed</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>7z</td>
          <td>20 sec</td>
          <td>30 MB</td>
        </tr>
        <tr>
          <td>Zip</td>
          <td>75 sec</td>
          <td>90 MB</td>
        </tr>
      </table>
    </li>
  </ul>
  <img src="/static/upload_guide.png">
</section>
<section id="upload-progress-section" class="upload" style="display: none;">
  <h2>Upload progress:</h2>
  <p id="upload-status">Uploading...</p>
  <div id="upload-progress-bar-wrapper" class="progress-bar-wrapper">
    <div id="upload-progress-bar" class="progress-bar"></div>
    <div id="upload-progress-bar-percentage"></div>
  </div>
  <table id="upload-table" style="display: none;">
    <thead>
      <tr>
        <th class="col-report">Slice ID</th>
        <th class="col-status">Status</th>
      </tr>
    </thead>
    <tbody id="upload-table-tbody"></tbody>
  </table>
</section>
</main>
{% endblock the_main %}
