{% extends "layout.html" %}

{% block add_style %}
<style>
#upload-progress-bar-wrapper {
  box-shadow: inset 0 0 .5em var(--unfocused), 0 0 .5em var(--unfocused);
  border-radius: .5em;
  position: relative;
  height: 1.25em;
  z-index: initial;
  margin-top: .25em;
  margin-bottom: .25em;
}
#upload-progress-bar {
  position: relative;
  z-index: -1;
  border-radius: .5em;
  background-color: var(--secondary-color);
  width: 0%;
  height: 100%;
}
#upload-progress-bar-percentage {
  text-align: right;
  position: absolute;
  right: .5em;
  bottom: 5%;
}
.upload {
  display: grid;
  justify-content: center;
}
#upload-error {
  font-size: 200%;
  margin-top: 1rem;
  color: crimson;
}
#upload-status {
  font-size: 200%;
  min-width: 30ch;
  width: fit-content;
}
.upload h2 {
  font-size: 300%;
}
.upload td {
  padding-inline: 1em;
}
.upload span {
  color: bisque;
  background-color: var(--highlight-color);
}
#server-input {
  width: 100%;
}
</style>
{% endblock add_style %}

{% block scripts_head %}
<script defer src="/static/upload.js"></script>
{% endblock scripts_head %}

{% block the_main %}
<main>
<section id="upload-section" class="upload">
  <h2>Upload new file</h2>
  <form method="post" enctype="multipart/form-data">
    <input id="upload-form-select" type="file" name="file" accept=".7z, .zip">
    <button id="upload-form-submit" type="button">Upload File</button>
  </form>
  <div id="server-select">
    <input id="server-input" type="text" placeholder="Optional: Type in any server name (if not Warmane)" list="server-list">
    <p>Just the server name, don't add date, raid name, etc.</p>
    <datalist id="server-list">
      {% for server in SERVERS %}
      <option value="{{ server }}"></option>
      {% endfor %}
      <option value="Algalon"></option>
      <option value="ChromieCraft"></option>
      <option value="Crystalsong"></option>
      <option value="Frosthold"></option>
      <option value="Sindragosa"></option>
      <option value="Rising Gods"></option>
    </datalist>
  </div>
</section>
<section id="upload-info" class="upload">
  <h2>How to start logging</h2>
  <ul>
    <li>0. Make sure WoW folder isn't read-only</li>
    <li>1. Type <span>/combatlog</span> in game (before anything happens, not after)</li>
    <li>- You have to do this every time after relog/reload/crash</li>
    <li>- Use <a href="https://wago.io/9Okfx9zrS" target="_blank">weakauras</a> instead to never forget to start logging</li>
    <li>- You can even <span>/reload</span> mid pull with this wa and it'll continue logging</li>
    <li>2. Find logs file in game's folder: <span>WoW/Logs/WoWCombatLog.txt</span></li>
    <li>3. Archive it (supported formates: <span>.7z</span> or <span>.zip</span>)</li>
    <li style="color: crimson;">- Don't rename files to .zip/.7z, create archives from 0.</li>
    <li style="color: goldenrod;">- Make sure to archive only <span>.txt</span> file without any folders.</li>
    <li>4. Upload the archive above</li>
  </ul>
  <img src="/static/upload_guide.png">
  <h2>Additional info</h2>
  <ul>
    <li>Combatlog is logged into the same file always</li>
    <li>After upload, delete/move/rename <span>WoWCombatLog.txt</span> to keep it fresh</li>
    <li>Use <a href="https://www.7-zip.org/" target="_blank">7zip</a> with <a href="https://i.imgur.com/0xznLXP.png" target="_blank">PPMd</a> compression for lower archiving time and file size</li>
    <li>
      <table>
        <tr style="text-align: center;">
          <th>1GB Logs</th>
          <th>7z</th>
          <th>Zip</th>
        </tr>
        <tr>
          <td>Speed</td>
          <td>20 sec</td>
          <td>75 sec</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>30 MB</td>
          <td>90 MB</td>
        </tr>
      </table>
    </li>
  </ul>
</section>
<section id="upload-progress-section" class="upload" style="display: none;">
  <h2>Upload progress:</h2>
  <p id="upload-status">Uploading...</p>
  <div id="upload-progress-bar-wrapper" class="progress-bar-wrapper">
    <div id="upload-progress-bar" class="progress-bar"></div>
    <div id="upload-progress-bar-percentage"></div>
  </div>
  <table id="upload-table" style="display: none;">
    <thead>
      <tr>
        <th style="min-width: 40ch;">Slice ID</th>
        <th style="min-width: 20ch;">Status</th>
      </tr>
    </thead>
    <tbody id="upload-table-tbody"></tbody>
  </table>
</section>
</main>
{% endblock the_main %}
