{% extends "layout.html" %}

{% block the_main %}
<main>
<section class="upload">
  <h1>Upload progress:</h1>
  <div id="upload-status">Preparing...</div>
  <div id="report-list-wrapper">
    <ul id="report-list"></ul>
  </div>
</section>
</main>
{% endblock the_main %}
{% block the_scripts %}
<script>
  const uploadStatus = document.getElementById("upload-status");
  const reportList = document.getElementById("report-list");

  const xhttp = new XMLHttpRequest();
  const t = setInterval(() => {
    xhttp.open("POST", "/upload/check_progress", true);
    xhttp.send();
  }, 500);
  
  xhttp.onreadystatechange = () => {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      const res = JSON.parse(xhttp.response);
      uploadStatus.innerText = res.msg;
      if (res.done) clearInterval(t);

      reportList.innerHTML = "";
      res.links.forEach(reportID => {
        const _li = document.createElement('li');
        const _a = document.createElement('a');
        _a.href = `reports/${reportID}`;
        _a.target = "_blank";
        _a.innerText = reportID;
        _li.appendChild(_a);
        reportList.appendChild(_li);
      })
    }
  }
</script>
{% endblock the_scripts %}