{% extends "layout.html" %}

{% block the_main %}
<main>
<section class="upload">
  <h1>Upload progress:</h1>
  <div id="upload-status">Preparing...</div>
  <section>
    <table id="upload-table" style="display: none;">
      <thead>
        <tr>
          <th>Report name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="upload-table-tbody"></tbody>
    </table>
  </section>
</section>
</main>
{% endblock the_main %}
{% block the_scripts %}
<script>
  const uploadStatus = document.getElementById("upload-status");
  const table = document.getElementById("upload-table");
  const tbody = document.getElementById("upload-table-tbody");
  const request = new XMLHttpRequest();
  const EMPTY_OBJECT = {};
  
  function newRow(report_name, report_data) {
    const tr = document.createElement("tr");
    const report_link_cell = document.createElement("td");
    const report_link = document.createElement("a");
    report_link.href = `/reports/${report_name}`;
    report_link.innerText = report_name;
    report_link_cell.appendChild(report_link);
    tr.appendChild(report_link_cell);
    
    const status_cell = document.createElement("td");
    status_cell.innerText = report_data.status;
    tr.appendChild(status_cell);
    return tr
  }

  let gotResponse = true;
  const t = setInterval(() => {
    if (gotResponse === true) {
      gotResponse = false;
      request.open("GET", "/upload/check_progress", true);
      request.send();
    }
  }, 500)

  request.onreadystatechange = () => {
    if (request.readyState != 4 || request.status != 200) return;
    const res = JSON.parse(request.response);

    if (res.done == 1) clearInterval(t);
    gotResponse = true;

    uploadStatus.innerText = res.status || "Preparing...";
    if (res.slices) {
      table.style.display = "table";
      tbody.innerHTML = "";
      for (let slice_name in res.slices) {
        tbody.appendChild(newRow(slice_name, res.slices[slice_name]))
      }
    }
  }
</script>
{% endblock the_scripts %}
