{% extends "layout_report.html" %}

{% block the_main %}
<main>
<div id="valks">
  <input id="one" class="radio" name="valks-group" type="radio" checked="checked">
  <label id="one-tab" class="tab" for="one">OVERKILL</label>
  <div id="one-panel" class="panel">
    <table>
      <tr>
        <th>Name</th>
        <th>Total</th>
      </tr>
      {% for player_name, source_total in valks_overkill %}
      <tr>
        <td class="player-cell"><a class="{{ _classes[player_name] }}">{{ player_name }}</a></td>
        <td class="total-cell">{{ source_total }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <input id="two" class="radio" name="valks-group" type="radio">
  <label id="two-tab" class="tab" for="two">USEFUL</label>
  <div class="panel" id="two-panel">
    <table>
      <tr>
        <th>Name</th>
        <th>Total</th>
      </tr>
      {% for player_name, source_total in valks_usefull %}
      <tr>
        <td class="player-cell"><a class="{{ _classes[player_name] }}">{{ player_name }}</a></td>
        <td class="total-cell">{{ source_total }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <input id="three" class="radio" name="valks-group" type="radio">
  <label id="three-tab" class="tab" for="three">GRABS</label>
  <div class="panel" id="three-panel">
    <table id="grabs">
      <tr>
        <th>Name</th>
        <th>Grabs</th>
        <th colspan="69">Detailed</th>
      </tr>
      {% for player_name, grabs in valk_grabs %}
      <tr>
        <td class="player-cell"><a class="{{ _classes[player_name] }}">{{ player_name }}</a></td>
        <td>{{ grabs }}</td>
        {% for is_grab, value in valk_grabs_details[player_name] %}
        {% if is_grab == 1 %}
        <!-- <td class="grab"></td> -->
        <td class="grab">{{value}}</td>
        {% elif is_grab == -1 %}
        <!-- <td class="absent"></td> -->
        <td class="absent">{{value}}</td>
        {% else %}
        <!-- <td></td> -->
        <td>{{value}}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <p>Grabs are guesses and can be +-1 of reality</p>
  </div>
</div>
</main>
{% endblock the_main %}