{% extends "layout_report.html" %}

{% block add_style %}
<style>
#valks-table-tbody td:not(.player-cell) {
  text-align: right;
}
#valks-table-tbody .total-cell {
  min-width: 5ch;
}
#valks-table-tbody .grab {
  background-color: crimson;
}
#valks-table-tbody td:not(.player-cell, .total-cell) {
  color: transparent;
}
</style>
{% endblock add_style %}

{% block the_main %}
<main id="valks">
  <table>
    <caption>Valk grabs per wave</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total</th>
        {% for wave_n in WAVES %}
        <th>{{ wave_n }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="valks-table-tbody">
      {% for player_name, grabs_amount in GRABS_TOTAL.items() %}
      <tr>
        <td class="player-cell">
          <a class="{{ PLAYER_CLASSES[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
        </td>
        <td class="total-cell">{{ grabs_amount }}</td>
        {% for wave in ALL_GRABS %}
        {% if player_name in wave %}
        <td class="grab">1</td>
        {% else %}
        <td>0</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock the_main %}


{% block main_scripts %}
<script>
const tbody = document.getElementById("valks-table-tbody");
const getCellValue = (tr, idx) => tr.children[idx].innerText;
const comparer = idx => (a, b) => getCellValue(b, idx) - getCellValue(a, idx);

document.querySelectorAll('th').forEach(th => th.addEventListener('click', () => {
  Array.from(tbody.querySelectorAll('tr:nth-child(n+1)'))
       .sort(comparer(th.cellIndex))
       .forEach(tr => tbody.appendChild(tr));
}));
</script>
{% endblock main_scripts %}
