{% extends "layout_report.html" %}

{% block the_main %}
<main id="valks">
  <input id="one" class="radio" name="valks-group" type="radio" checked>
  <label id="one-tab" class="tab" for="one">DAMAGE</label>
  <section id="one-panel" class="panel">
    {% for category_name, data in valks_damage.items() %}
    <article>
      <table>
        <caption>{{ category_name }} DAMAGE</caption>
        <tr>
          <th>Name</th>
          <th>Total</th>
        </tr>
        {% for player_name, source_total in data %}
        <tr>
          <td class="player-cell">
            <a class="{{ CLASS_DATA[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
          </td>
          <td class="total-cell">{{ source_total }}</td>
        </tr>
        {% endfor %}
      </table>
    </article>
    {% endfor %}
  </section>

  <input id="two" class="radio" name="valks-group" type="radio">
  <label id="two-tab" class="tab" for="two">GRABS</label>
  <section id="two-panel" class="panel">
    <article>
      <table id="grabs">
        <tr>
          <th>Name</th>
          <th>Grabs</th>
          <th colspan="69">Detailed</th>
        </tr>
        {% for player_name, grabs in valk_grabs %}
        <tr>
          <td class="player-cell">
            <a class="{{ CLASS_DATA[player_name] }}" href="/reports/{{ REPORT_ID }}/player/{{ player_name }}/{{ QUERY }}">{{ player_name }}</a>
          </td>
          <td>{{ grabs }}</td>
          {% for is_grab, value in valk_grabs_details[player_name] %}
          {% if is_grab == 1 %}
            <td class="grab">
          {% elif is_grab == -1 %}
            <td class="absent">
          {% else %}
            <td>
          {% endif %}
          {{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <p>Grabs are guesses and can be +-1 of reality</p>
    </article>
  </section>
</main>
{% endblock the_main %}